# MBP: Spain's turism industry dashboard

#### Data extraction from Instituto Nacional de Estadística (INE)

Libraries

In [1]:
from functions import get_data_and_create_excel_file
from functions import normalize_json
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\ameli\anaconda3\envs\Midbootcamp\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Turism expendinture in Spain

### Statistic: Gasto de los turistas internacionales según comunidad autónoma de destino principal y país de residencia

#### Unidades: €, Millones €, Días, %, Tasas

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=24746&L=0

In [2]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/24746?nult=10'
file_name = 'turism_expenditure_by_ccaa_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_expenditure_by_ccaa_origin = get_data_and_create_excel_file(url, file_name, path)
turism_expenditure_by_ccaa_origin.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4584737,Total. Turista. Gasto total. Total Nacional. D...,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4584613,Total. Turista. Gasto total. Total Nacional. T...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4585410,Total. Turista. Gasto total. Andalucía. Dato b...,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4586243,Total. Turista. Gasto total. Andalucía. Tasa d...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4585407,"Total. Turista. Gasto total. Balears, Illes. D...",7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [3]:
turism_expenditure_by_ccaa_origin.Nombre.unique()

array(['Total. Turista. Gasto total. Total Nacional. Dato base. ',
       'Total. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Andalucía. Dato base. ',
       'Total. Turista. Gasto total. Andalucía. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto total. Balears, Illes. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Canarias. Dato base. ',
       'Total. Turista. Gasto total. Canarias. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Cataluña. Dato base. ',
       'Total. Turista. Gasto total. Cataluña. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto total. Comunitat Valenciana. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto total. Madrid, Comunidad de. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto total. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Total. Turista. Gasto medio por persona. Andalucía. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto medio por persona. Balears, Illes. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Total. Turista. Gasto medio por persona. Canarias. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Total. Turista. Gasto medio por persona. Cataluña. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto medio por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto medio por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Andalucía. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Balears, Illes. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Canarias. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Cataluña. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Total. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Total. Turista. Duración media de los viajes. Andalucía. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Total. Turista. Duración media de los viajes. Balears, Illes. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Total. Turista. Duración media de los viajes. Canarias. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Total. Turista. Duración media de los viajes. Cataluña. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Duración media de los viajes. Comunitat Valenciana. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Duración media de los viajes. Madrid, Comunidad de. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto total. Andalucía. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto total. Balears, Illes. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto total. Canarias. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto total. Cataluña. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto total. Comunitat Valenciana. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto total. Madrid, Comunidad de. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto total. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Andalucía. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Balears, Illes. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Canarias. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Cataluña. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Andalucía. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Balears, Illes. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Canarias. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Cataluña. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Andalucía. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Balears, Illes. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Canarias. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Cataluña. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Comunitat Valenciana. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Madrid, Comunidad de. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Andalucía. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Balears, Illes. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Canarias. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Cataluña. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Comunitat Valenciana. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Madrid, Comunidad de. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Andalucía. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Balears, Illes. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Canarias. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Cataluña. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Andalucía. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Balears, Illes. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Canarias. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Cataluña. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Andalucía. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Balears, Illes. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Canarias. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Cataluña. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Comunitat Valenciana. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Madrid, Comunidad de. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto total. Andalucía. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto total. Balears, Illes. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Canarias. Dato base. ',
       'Alemania. Turista. Gasto total. Canarias. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto total. Cataluña. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Gasto total. Comunitat Valenciana. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Gasto total. Madrid, Comunidad de. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Gasto total. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Andalucía. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Balears, Illes. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Canarias. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Cataluña. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',

In [4]:
turism_expenditure_by_ccaa_origin = turism_expenditure_by_ccaa_origin.loc[turism_expenditure_by_ccaa_origin['Nombre'].
                                                                          str.contains('Dato base')].reset_index(drop=True)
turism_expenditure_by_ccaa_origin.Nombre.unique()

array(['Total. Turista. Gasto total. Total Nacional. Dato base. ',
       'Total. Turista. Gasto total. Andalucía. Dato base. ',
       'Total. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto total. Canarias. Dato base. ',
       'Total. Turista. Gasto total. Cataluña. Dato base. ',
       'Total. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Total. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Total. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Total. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Total. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Total. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Total. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Total. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Total. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto total. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto total. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto total. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto total. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Gasto total. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto total. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto total. Canarias. Dato base. ',
       'Alemania. Turista. Gasto total. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Francia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto total. Andalucía. Dato base. ',
       'Francia. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Francia. Turista. Gasto total. Canarias. Dato base. ',
       'Francia. Turista. Gasto total. Cataluña. Dato base. ',
       'Francia. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Francia. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Francia. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Italia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto total. Andalucía. Dato base. ',
       'Italia. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Italia. Turista. Gasto total. Canarias. Dato base. ',
       'Italia. Turista. Gasto total. Cataluña. Dato base. ',
       'Italia. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Italia. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Italia. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. '],
      dtype=object)

In [5]:
turism_expenditure_by_ccaa_origin_full = normalize_json(turism_expenditure_by_ccaa_origin)
turism_expenditure_by_ccaa_origin_full.head()

                                                info       Fecha     Valor
0  Total. Turista. Gasto total. Total Nacional. D...  2021-01-01  34903.37
1  Total. Turista. Gasto total. Total Nacional. D...  2020-01-01  19786.78
2  Total. Turista. Gasto total. Total Nacional. D...  2019-01-01  91911.97
3  Total. Turista. Gasto total. Total Nacional. D...  2018-01-01  89750.75
4  Total. Turista. Gasto total. Total Nacional. D...  2017-01-01  87003.93

In [6]:
turism_expenditure_by_ccaa_origin_full['info'].unique()
turism_expenditure_by_ccaa_origin_full['Destino'] = turism_expenditure_by_ccaa_origin_full['info'].apply(lambda
                                                                                                              x: x.split('.')[3])
turism_expenditure_by_ccaa_origin_full['Categoria'] = turism_expenditure_by_ccaa_origin_full['info'].apply(lambda
                                                                                                              x: x.split('.')[2])
turism_expenditure_by_ccaa_origin_full['Origen'] = turism_expenditure_by_ccaa_origin_full['info'].apply(lambda
                                                                                                              x: x.split('.')[0])

In [7]:
turism_expenditure_by_ccaa_origin_full.head()

,info,Fecha,Valor,Destino,Categoria,Origen
0,Total. Turista. Gasto total. Total Nacional. D...,2021-01-01,34903.37,Total Nacional,Gasto total,Total
1,Total. Turista. Gasto total. Total Nacional. D...,2020-01-01,19786.78,Total Nacional,Gasto total,Total
2,Total. Turista. Gasto total. Total Nacional. D...,2019-01-01,91911.97,Total Nacional,Gasto total,Total
3,Total. Turista. Gasto total. Total Nacional. D...,2018-01-01,89750.75,Total Nacional,Gasto total,Total
4,Total. Turista. Gasto total. Total Nacional. D...,2017-01-01,87003.93,Total Nacional,Gasto total,Total

In [8]:
turism_expenditure_by_ccaa_origin_full = turism_expenditure_by_ccaa_origin_full.drop('info', axis=1)
turism_expenditure_by_ccaa_origin_full = turism_expenditure_by_ccaa_origin_full.reindex(columns = 
                                                                                       ['Origen', 'Categoria','Destino', 'Valor','Fecha'])

In [9]:
turism_expenditure_by_ccaa_origin_full.isna().sum()

Origen       0
Categoria    0
Destino      0
Valor        0
Fecha        0
dtype: int64

In [10]:
file_name = 'turism_expenditure_by_ccaa_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_expenditure_by_ccaa_origin_full.to_excel(path+file_name)

## Statistic: Gasto de los turistas internacionales según partidas de gasto y comunidad autónoma de destino principal

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=24745

In [11]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/24745?nult=10'
file_name = 'turism_expenditure_by_ccaa_item.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_exp_ccaa_item = get_data_and_create_excel_file(url, file_name, path)
turism_exp_ccaa_item.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4583835,Total Nacional. Turista. Gasto total. Dato base.,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4583907,Total Nacional. Turista. Gasto total. Tasa de ...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4583831,Andalucía. Turista. Gasto total. Dato base.,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4583903,Andalucía. Turista. Gasto total. Tasa de varia...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4583819,"Balears, Illes. Turista. Gasto total. Dato base.",7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [12]:
turism_exp_ccaa_item = turism_exp_ccaa_item.loc[turism_exp_ccaa_item.Nombre.str.contains('Dato base')]

In [13]:
turism_exp_ccaa_item_full = normalize_json(turism_exp_ccaa_item)
turism_exp_ccaa_item_full.head()

                                                info       Fecha     Valor
0  Total Nacional. Turista. Gasto total. Dato base.   2021-01-01  34903.37
1  Total Nacional. Turista. Gasto total. Dato base.   2020-01-01  19786.78
2  Total Nacional. Turista. Gasto total. Dato base.   2019-01-01  91911.97
3  Total Nacional. Turista. Gasto total. Dato base.   2018-01-01  89750.75
4  Total Nacional. Turista. Gasto total. Dato base.   2017-01-01  87003.93

In [14]:
turism_exp_ccaa_item_full['info'].unique()

array(['Total Nacional. Turista. Gasto total. Dato base. ',
       'Andalucía. Turista. Gasto total. Dato base. ',
       'Balears, Illes. Turista. Gasto total. Dato base. ',
       'Canarias. Turista. Gasto total. Dato base. ',
       'Cataluña. Turista. Gasto total. Dato base. ',
       'Comunitat Valenciana. Turista. Gasto total. Dato base. ',
       'Madrid, Comunidad de. Turista. Gasto total. Dato base. ',
       'Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en paquete turístico. Total Nacional. Dato base. ',
       'Turista. Gasto en paquete turístico. Andalucía. Dato base. ',
       'Turista. Gasto en paquete turístico. Balears, Illes. Dato base. ',
       'Turista. Gasto en paquete turístico. Canarias. Dato base. ',
       'Turista. Gasto en paquete turístico. Cataluña. Dato base. ',
       'Turista. Gasto en paquete turístico. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en paquete turístico. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en paquete turístico. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Total Nacional. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Andalucía. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Balears, Illes. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Canarias. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Cataluña. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en transporte internacional. Total Nacional. Dato base. ',
       'Turista. Gasto en transporte internacional. Andalucía. Dato base. ',
       'Turista. Gasto en transporte internacional. Balears, Illes. Dato base. ',
       'Turista. Gasto en transporte internacional. Canarias. Dato base. ',
       'Turista. Gasto en transporte internacional. Cataluña. Dato base. ',
       'Turista. Gasto en transporte internacional. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en transporte internacional. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en transporte internacional. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en alojamiento. Total Nacional. Dato base. ',
       'Turista. Gasto en alojamiento. Andalucía. Dato base. ',
       'Turista. Gasto en alojamiento. Balears, Illes. Dato base. ',
       'Turista. Gasto en alojamiento. Canarias. Dato base. ',
       'Turista. Gasto en alojamiento. Cataluña. Dato base. ',
       'Turista. Gasto en alojamiento. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en alojamiento. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en alojamiento. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en manutención. Total Nacional. Dato base. ',
       'Turista. Gasto en manutención. Andalucía. Dato base. ',
       'Turista. Gasto en manutención. Balears, Illes. Dato base. ',
       'Turista. Gasto en manutención. Canarias. Dato base. ',
       'Turista. Gasto en manutención. Cataluña. Dato base. ',
       'Turista. Gasto en manutención. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en manutención. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en manutención. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en actividades. Total Nacional. Dato base. ',
       'Turista. Gasto en actividades. Andalucía. Dato base. ',
       'Turista. Gasto en actividades. Balears, Illes. Dato base. ',
       'Turista. Gasto en actividades. Canarias. Dato base. ',
       'Turista. Gasto en actividades. Cataluña. Dato base. ',
       'Turista. Gasto en actividades. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en actividades. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en actividades. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Otros gastos. Total Nacional. Dato base. ',
       'Turista. Otros gastos. Andalucía. Dato base. ',
       'Turista. Otros gastos. Balears, Illes. Dato base. ',
       'Turista. Otros gastos. Canarias. Dato base. ',
       'Turista. Otros gastos. Cataluña. Dato base. ',
       'Turista. Otros gastos. Comunitat Valenciana. Dato base. ',
       'Turista. Otros gastos. Madrid, Comunidad de. Dato base. ',
       'Turista. Otros gastos. Otras Comunidades Autónomas. Dato base. '],
      dtype=object)

In [15]:
total_expenditure = turism_exp_ccaa_item_full.loc[turism_exp_ccaa_item_full['info'].str.contains('Gasto total')]
turism_exp_ccaa_item_full = turism_exp_ccaa_item_full.drop(total_expenditure.index, axis=0)

In [16]:
total_expenditure['Gasto_item'] = total_expenditure['info'].apply(lambda x: x.split('.')[2])
total_expenditure['Destino'] = total_expenditure['info'].apply(lambda x: x.split('.')[0])

turism_exp_ccaa_item_full['Gasto_item'] = turism_exp_ccaa_item_full['info'].apply(lambda x: x.split('.')[1])
turism_exp_ccaa_item_full['Destino'] = turism_exp_ccaa_item_full['info'].apply(lambda x: x.split('.')[2])

turism_exp_ccaa_item_full = pd.concat([total_expenditure, turism_exp_ccaa_item_full], axis = 0)

In [17]:
turism_exp_ccaa_item_full = turism_exp_ccaa_item_full.drop('info', axis = 1)
turism_exp_ccaa_item_full = turism_exp_ccaa_item_full.reindex(columns = ['Gasto_item', 'Destino', 'Valor', 'Fecha'])
turism_exp_ccaa_item_full.head()

     Gasto_item         Destino     Valor       Fecha
0   Gasto total  Total Nacional  34903.37  2021-01-01
1   Gasto total  Total Nacional  19786.78  2020-01-01
2   Gasto total  Total Nacional  91911.97  2019-01-01
3   Gasto total  Total Nacional  89750.75  2018-01-01
4   Gasto total  Total Nacional  87003.93  2017-01-01

In [18]:
turism_exp_ccaa_item_full.isna().sum()

Gasto_item    0
Destino       0
Valor         0
Fecha         0
dtype: int64

In [19]:
file_name = 'turism_expenditure_by_ccaa_item.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_exp_ccaa_item_full.to_excel(path+file_name)

## Statistic: Gasto de los turistas internacionales según tipo de alojamiento principal
Units: €, Millones €, Días, Tasas

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=10836

In [20]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/23993?date=20150101:20220601'
file_name = 'turism_expenditure_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_exp_stay = get_data_and_create_excel_file(url, file_name, path)
turism_exp_stay.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4584489,Turista. Total. Gasto total. Total Nacional. D...,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4584469,Turista. Total. Gasto total. Total Nacional. T...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4584484,Turista. Total. Gasto medio por persona. Total...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4584468,Turista. Total. Gasto medio por persona. Total...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4584483,Turista. Total. Gasto medio diario por persona...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [21]:
turism_exp_stay.Nombre.unique()

array(['Turista. Total. Gasto total. Total Nacional. Dato base. ',
       'Turista. Total. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Total. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Total. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Total. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Total. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. De mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Gasto total. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. No de mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. '],
      dtype=object)

In [22]:
turism_exp_stay = turism_exp_stay.loc[turism_exp_stay.Nombre.str.contains('Dato base')]
turism_exp_stay.Nombre.unique()

array(['Turista. Total. Gasto total. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Total. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto total. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Duración media de los viajes. Total Nacional. Dato base. '],
      dtype=object)

In [23]:
turism_exp_stay_full = normalize_json(turism_exp_stay)
turism_exp_stay_full.head()

                                                info       Fecha     Valor
0  Turista. Total. Gasto total. Total Nacional. D...  2021-01-01  34903.37
1  Turista. Total. Gasto total. Total Nacional. D...  2020-01-01  19786.78
2  Turista. Total. Gasto total. Total Nacional. D...  2019-01-01  91911.97
3  Turista. Total. Gasto total. Total Nacional. D...  2018-01-01  89750.75
4  Turista. Total. Gasto total. Total Nacional. D...  2017-01-01  87003.93

In [24]:
turism_exp_stay_full['Tipo_alojamiento'] = turism_exp_stay_full['info'].apply(lambda x: x.split('.')[1])
turism_exp_stay_full['Categoria_gasto'] = turism_exp_stay_full['info'].apply(lambda x: x.split('.')[2])

In [25]:
turism_exp_stay_full = turism_exp_stay_full.drop('info', axis = 1)
turism_exp_stay_full = turism_exp_stay_full.reindex(columns = ['Tipo_alojamiento', 'Categoria_gasto', 'Valor', 'Fecha'])
turism_exp_stay_full.head()

  Tipo_alojamiento Categoria_gasto     Valor       Fecha
0            Total     Gasto total  34903.37  2021-01-01
1            Total     Gasto total  19786.78  2020-01-01
2            Total     Gasto total  91911.97  2019-01-01
3            Total     Gasto total  89750.75  2018-01-01
4            Total     Gasto total  87003.93  2017-01-01

In [26]:
turism_exp_stay_full.isna().sum()

Tipo_alojamiento    0
Categoria_gasto     0
Valor               0
Fecha               0
dtype: int64

In [27]:
file_name = 'turism_expenditure_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_exp_stay_full.to_excel(path+file_name)

## Statistic: Gasto de los turistas internacionales según sexo y edad
Units: €, Millones €, Días, Tasas

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=24744

In [28]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/24744?date=20150101:20220601'
file_name = 'turism_expenditure_by_sex_and_age.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_exp_sex_gender = get_data_and_create_excel_file(url, file_name, path)
turism_exp_sex_gender.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4586252,Turista. Gasto total. Total Nacional. Dato bas...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4584969,Turista. Gasto total. Total Nacional. Dato bas...,7,13,[]
2,FREG4584968,Turista. Gasto total. Total Nacional. Dato bas...,7,13,[]
3,FREG4584967,Turista. Gasto total. Total Nacional. Dato bas...,7,13,[]
4,FREG4584966,Turista. Gasto total. Total Nacional. Dato bas...,7,13,[]

In [29]:
turism_exp_sex_gender = turism_exp_sex_gender.loc[turism_exp_sex_gender['Nombre'].str.contains('Dato base.')]
turism_exp_sex_gender.Nombre.unique()

array(['Turista. Gasto total. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. 65 y más años. '],
      dtype=object)

In [30]:
turism_exp_sex_gender_full = normalize_json(turism_exp_sex_gender)

turism_exp_sex_gender_full['Sexo'] = turism_exp_sex_gender_full['info'].apply(lambda x: x.split(".")[4])
turism_exp_sex_gender_full['Rango_edad'] = turism_exp_sex_gender_full['info'].apply(lambda x: x.split(".")[5])
turism_exp_sex_gender_full['Categoria_gasto'] = turism_exp_sex_gender_full['info'].apply(lambda x: x.split(".")[1])
turism_exp_sex_gender_full['Destino'] = turism_exp_sex_gender_full['info'].apply(lambda x: x.split(".")[2])

turism_exp_sex_gender_full.head()

,info,Fecha,Valor,Sexo,Rango_edad,Categoria_gasto,Destino
0,Turista. Gasto total. Total Nacional. Dato bas...,2021-01-01,34903.37,Total,Todas las edades,Gasto total,Total Nacional
1,Turista. Gasto total. Total Nacional. Dato bas...,2020-01-01,19786.78,Total,Todas las edades,Gasto total,Total Nacional
2,Turista. Gasto total. Total Nacional. Dato bas...,2019-01-01,91911.97,Total,Todas las edades,Gasto total,Total Nacional
3,Turista. Gasto total. Total Nacional. Dato bas...,2018-01-01,89750.75,Total,Todas las edades,Gasto total,Total Nacional
4,Turista. Gasto total. Total Nacional. Dato bas...,2017-01-01,87003.93,Total,Todas las edades,Gasto total,Total Nacional

In [31]:
#turism_exp_sex_gender_full = turism_exp_sex_gender_full.drop('info', axis=1)
turism_exp_sex_gender_full = turism_exp_sex_gender_full.reindex(columns = ['Categoria_gasto',
                                                                          'Rango_edad', 'Sexo',
                                                                          'Valor', 'Fecha'])
turism_exp_sex_gender_full.tail()

,Categoria_gasto,Rango_edad,Sexo,Valor,Fecha
259,Duración media de los viajes,65 y más años,Mujeres,11.77,2020-01-01
260,Duración media de los viajes,65 y más años,Mujeres,10.94,2019-01-01
261,Duración media de los viajes,65 y más años,Mujeres,11.97,2018-01-01
262,Duración media de los viajes,65 y más años,Mujeres,12.19,2017-01-01
263,Duración media de los viajes,65 y más años,Mujeres,12.69,2016-01-01

In [32]:
turism_exp_sex_gender_full.isna().sum()

Categoria_gasto    0
Rango_edad         0
Sexo               0
Valor              0
Fecha              0
dtype: int64

In [33]:
file_name = 'turism_expenditure_by_sex_and_age.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_exp_stay_full.to_excel(path+file_name)

### Statistic: Gasto de los turistas internacionales según motivo principal del viaje

Units: €, Millones €, Días, Tasas

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=10840

In [34]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/23995?nult=10'
file_name = 'turism_expenditure_by_trip_motive.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_exp_motive = get_data_and_create_excel_file(url, file_name, path)
turism_exp_motive.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4584865,Total. Gasto total. Turista. Total Nacional. D...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4584801,Total. Gasto total. Turista. Total Nacional. T...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4584849,Total. Gasto medio por persona. Turista. Total...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4584800,Total. Gasto medio por persona. Turista. Total...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4584848,Total. Gasto medio diario por persona. Turista...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [35]:
turism_exp_motive.Nombre.unique()

array(['Total. Gasto total. Turista. Total Nacional. Dato base. ',
       'Total. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Total. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Total. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Total. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Total. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Total. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Total. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivo profesional. Gasto total. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivo profesional. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivo profesional. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivo profesional. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Congresos, ferias y convenciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Congresos, ferias y convenciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Congresos, ferias y convenciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Congresos, ferias y convenciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Trabajador estacional temporero. Gasto total. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Trabajador estacional temporero. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Trabajador estacional temporero. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Trabajador estacional temporero. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros motivos profesionales. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros motivos profesionales. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros motivos profesionales. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros motivos profesionales. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Estudios (educación y formación). Gasto total. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Estudios (educación y formación). Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Estudios (educación y formación). Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Estudios (educación y formación). Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Visitas a familiares o amigos. Gasto total. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Visitas a familiares o amigos. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Visitas a familiares o amigos. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Visitas a familiares o amigos. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Tratamiento de salud voluntario. Gasto total. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Tratamiento de salud voluntario. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Tratamiento de salud voluntario. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Tratamiento de salud voluntario. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivos religiosos o peregrinaciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivos religiosos o peregrinaciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivos religiosos o peregrinaciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivos religiosos o peregrinaciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de compras. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de compras. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de compras. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de compras. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Ocio, recreo y vacaciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Ocio, recreo y vacaciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Ocio, recreo y vacaciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Ocio, recreo y vacaciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo cultural. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo cultural. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo cultural. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo cultural. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo deportivo. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo deportivo. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo deportivo. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo deportivo. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de sol y playa. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de sol y playa. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de sol y playa. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de sol y playa. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Otro tipo de turismo de ocio. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Otro tipo de turismo de ocio. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otro tipo de turismo de ocio. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otro tipo de turismo de ocio. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otros. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. '],
      dtype=object)

In [36]:
turism_exp_motive = turism_exp_motive.loc[turism_exp_motive.Nombre.str.contains('Dato base')]
turism_exp_motive.Nombre.unique()

array(['Total. Gasto total. Turista. Total Nacional. Dato base. ',
       'Total. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Total. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Total. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto total. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto total. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto total. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto total. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto total. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otros. Duración media de los viajes. Turista. Total Nacional. Dato base. '],
      dtype=object)

In [37]:
turism_exp_motive_full = normalize_json(turism_exp_motive)
turism_exp_motive_full.head()

                                                info       Fecha     Valor
0  Total. Gasto total. Turista. Total Nacional. D...  2021-01-01  34903.37
1  Total. Gasto total. Turista. Total Nacional. D...  2020-01-01  19786.78
2  Total. Gasto total. Turista. Total Nacional. D...  2019-01-01  91911.97
3  Total. Gasto total. Turista. Total Nacional. D...  2018-01-01  89750.75
4  Total. Gasto total. Turista. Total Nacional. D...  2017-01-01  87003.93

In [38]:
turism_exp_motive_full['Categoria_gasto'] = turism_exp_motive_full['info'].apply(lambda x: x.split('.')[1])
turism_exp_motive_full['Motivo'] = turism_exp_motive_full['info'].apply(lambda x: x.split('.')[0])

turism_exp_motive_full = turism_exp_motive_full.drop('info', axis=1)
turism_exp_motive_full.head()

        Fecha     Valor Categoria_gasto Motivo
0  2021-01-01  34903.37     Gasto total  Total
1  2020-01-01  19786.78     Gasto total  Total
2  2019-01-01  91911.97     Gasto total  Total
3  2018-01-01  89750.75     Gasto total  Total
4  2017-01-01  87003.93     Gasto total  Total

In [39]:
turism_exp_motive_full = turism_exp_motive_full.reindex(columns=['Categoria_gasto', 'Motivo',
                                                                'Valor', 'Fecha'])

turism_exp_motive_full.isna().sum()

Categoria_gasto     0
Motivo              0
Valor              24
Fecha               0
dtype: int64

In [40]:
missing_values = turism_exp_motive_full.loc[turism_exp_motive_full.Valor.isna()].index
turism_exp_motive_full = turism_exp_motive_full.drop(missing_values)
turism_exp_motive_full.isna().sum()

Categoria_gasto    0
Motivo             0
Valor              0
Fecha              0
dtype: int64

In [41]:
file_name = 'turism_expenditure_by_trip_motive.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_exp_motive_full.to_excel(path+file_name)

## Turists' perfil

### Statistic: Número de turistas según comunidad autónoma de destino principal

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=10822

In [42]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10823?date=20151001:20220601'
file_name = 'num_turists_by_ccaa.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

num_tur_ccaa = get_data_and_create_excel_file(url, file_name, path)
num_tur_ccaa.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG286,Turista. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG283,Turista. Total Nacional. Tasa de variación anu...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG1125,Turista. Total Nacional. Acumulado en lo que v...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG1128,Turista. Total Nacional. Tasa de variación acu...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG351,Andalucía. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [43]:
num_tur_ccaa = num_tur_ccaa.loc[num_tur_ccaa['Nombre'].str.contains('base')].reset_index(drop=True)
num_tur_ccaa.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG286,Turista. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG351,Andalucía. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG350,"Balears, Illes. Turista. Dato base.",3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG349,Canarias. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG348,Cataluña. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [44]:
num_tur_ccaa_full = normalize_json(num_tur_ccaa)
num_tur_ccaa_full['info'].unique()

array(['Turista. Total Nacional. Dato base. ',
       'Andalucía. Turista. Dato base. ',
       'Balears, Illes. Turista. Dato base. ',
       'Canarias. Turista. Dato base. ', 'Cataluña. Turista. Dato base. ',
       'Comunitat Valenciana. Turista. Dato base. ',
       'Madrid, Comunidad de. Turista. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Dato base. '], dtype=object)

In [45]:
num_tur_ccaa_full['Destino'] = num_tur_ccaa_full['info'].apply(lambda x: x.split('.')[0])
num_tur_ccaa_full['Destino'][0] = 'Total Nacional'

C:\Users\ameli\AppData\Local\Temp\ipykernel_25032\3796969646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  num_tur_ccaa_full['Destino'][0] = 'Total Nacional'

In [46]:
num_tur_ccaa_full = num_tur_ccaa_full.drop('info', axis = 1)

In [47]:
num_tur_ccaa_full = num_tur_ccaa_full.reindex(columns=['Destino', 'Valor', 'Fecha'])

In [48]:
num_tur_ccaa_full.isna().sum()

Destino    0
Valor      0
Fecha      0
dtype: int64

In [49]:
file_name = 'num_turists_by_ccaa.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

num_tur_ccaa_full.to_excel(path+file_name)

### Statistic: Número de turistas según tipo de alojamiento principal

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=10826

In [50]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10826?date=20151001:20220601'
file_name = 'num_turists_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

num_tur_stay = get_data_and_create_excel_file(url, file_name, path)
num_tur_stay.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG305,Turista. Total. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG301,Turista. Total. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG1148,Turista. Total. Total Nacional. Acumulado en l...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG1157,Turista. Total. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG593,Turista. De mercado. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [51]:
num_tur_stay = num_tur_stay.loc[num_tur_stay['Nombre'].str.contains('base')].reset_index(drop=True)
num_tur_stay.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG305,Turista. Total. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG593,Turista. De mercado. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG304,Turista. Hoteles o apartahotel. Total Nacional...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG665,Turista. Vivienda en alquiler. Total Nacional....,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG303,Turista. Resto de mercado. Total Nacional. Dat...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [52]:
num_tur_stay_full = normalize_json(num_tur_stay)
num_tur_stay_full.head()

                                          info       Fecha      Valor
0  Turista. Total. Total Nacional. Dato base.   2022-06-01  7460277.0
1  Turista. Total. Total Nacional. Dato base.   2022-05-01  6966913.0
2  Turista. Total. Total Nacional. Dato base.   2022-04-01  6102142.0
3  Turista. Total. Total Nacional. Dato base.   2022-03-01  4032127.0
4  Turista. Total. Total Nacional. Dato base.   2022-02-01  3156809.0

In [53]:
num_tur_stay_full['Tipo_alojamiento'] = num_tur_stay_full['info'].apply(lambda x: x.split('.')[1])
num_tur_stay_full['Categoria_gasto'] = num_tur_stay_full['info'].apply(lambda x: x.split('.')[2])

In [54]:
num_tur_stay_full = num_tur_stay_full.drop('info', axis = 1)
num_tur_stay_full = num_tur_stay_full.reindex(columns = ['Tipo_alojamiento', 'Categoria_gasto', 'Valor', 'Fecha'])
num_tur_stay_full.head()

  Tipo_alojamiento  Categoria_gasto      Valor       Fecha
0            Total   Total Nacional  7460277.0  2022-06-01
1            Total   Total Nacional  6966913.0  2022-05-01
2            Total   Total Nacional  6102142.0  2022-04-01
3            Total   Total Nacional  4032127.0  2022-03-01
4            Total   Total Nacional  3156809.0  2022-02-01

In [55]:
num_tur_stay_full.isna().sum()

Tipo_alojamiento    0
Categoria_gasto     0
Valor               0
Fecha               0
dtype: int64

In [56]:
file_name = 'num_turists_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

num_tur_stay_full.to_excel(path+file_name)

### Statistic: Número de turistas según motivo del viaje

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=13864

In [57]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/23985?nult=10'
file_name = 'num_turists_by_motive.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

num_tur_motive = get_data_and_create_excel_file(url, file_name, path)
num_tur_motive.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4583707,Turista. Total. Total Nacional. Dato base.,3,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4583711,Turista. Total. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4583706,"Turista. Ocio, recreo y vacaciones. Total Naci...",3,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4583710,"Turista. Ocio, recreo y vacaciones. Total Naci...",135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4583705,Turista. Motivo profesional. Total Nacional. D...,3,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [58]:
num_tur_motive.Nombre.unique()

array(['Turista. Total. Total Nacional. Dato base. ',
       'Turista. Total. Total Nacional. Tasa de variación anual. ',
       'Turista. Ocio, recreo y vacaciones. Total Nacional. Dato base. ',
       'Turista. Ocio, recreo y vacaciones. Total Nacional. Tasa de variación anual. ',
       'Turista. Motivo profesional. Total Nacional. Dato base. ',
       'Turista. Motivo profesional. Total Nacional. Tasa de variación anual. ',
       'Turista. Otros. Total Nacional. Dato base. ',
       'Turista. Otros. Total Nacional. Tasa de variación anual. '],
      dtype=object)

In [59]:
num_tur_motive = num_tur_motive.loc[num_tur_motive['Nombre'].str.contains('Dato base')]
num_tur_motive['Nombre'].unique()

array(['Turista. Total. Total Nacional. Dato base. ',
       'Turista. Ocio, recreo y vacaciones. Total Nacional. Dato base. ',
       'Turista. Motivo profesional. Total Nacional. Dato base. ',
       'Turista. Otros. Total Nacional. Dato base. '], dtype=object)

In [60]:
num_tur_motive_full = normalize_json(num_tur_motive)
num_tur_motive_full['info'].unique()

array(['Turista. Total. Total Nacional. Dato base. ',
       'Turista. Ocio, recreo y vacaciones. Total Nacional. Dato base. ',
       'Turista. Motivo profesional. Total Nacional. Dato base. ',
       'Turista. Otros. Total Nacional. Dato base. '], dtype=object)

In [61]:
num_tur_motive_full['Motivo'] = num_tur_motive_full['info'].apply(lambda x: x.split('.')[2])
num_tur_motive_full = num_tur_motive_full.drop('info', axis=1)
num_tur_motive_full.head()

        Fecha       Valor           Motivo
0  2021-01-01  31180802.0   Total Nacional
1  2020-01-01  18933103.0   Total Nacional
2  2019-01-01  83509153.0   Total Nacional
3  2018-01-01  82808413.0   Total Nacional
4  2017-01-01  81868522.0   Total Nacional

In [62]:
num_tur_motive_full = num_tur_motive_full.reindex(columns = ['Motivo', 'Valor', 'Fecha'])
num_tur_motive_full.isna().sum()

Motivo    0
Valor     0
Fecha     0
dtype: int64

In [63]:
file_name = 'num_turists_by_motive.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

num_tur_motive_full.to_excel(path+file_name)

### Statistic: Número de turistas según país de residencia

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=10822

In [64]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10822?date=20151001:20220601'
file_name = 'num_turists_by_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

num_tur_origin = get_data_and_create_excel_file(url, file_name, path)
num_tur_origin.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG337,Total. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG321,Total. Turista. Tasa de variación anual. Total...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG1173,Total. Turista. Total Nacional. Acumulado en l...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG1189,Total. Turista. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG336,Alemania. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [65]:
num_tur_origin = num_tur_origin.loc[num_tur_origin['Nombre'].str.contains('Dato base')]
num_tur_origin_full = normalize_json(num_tur_origin)
num_tur_origin_full['info'].unique()

array(['Total. Turista. Dato base. Total Nacional. ',
       'Alemania. Turista. Dato base. Total Nacional. ',
       'Bélgica. Turista. Dato base. Total Nacional. ',
       'Francia. Turista. Dato base. Total Nacional. ',
       'Irlanda. Turista. Dato base. Total Nacional. ',
       'Italia. Turista. Dato base. Total Nacional. ',
       'Países Bajos. Turista. Dato base. Total Nacional. ',
       'Países Nórdicos. Turista. Dato base. Total Nacional. ',
       'Portugal. Turista. Dato base. Total Nacional. ',
       'Reino Unido. Turista. Dato base. Total Nacional. ',
       'Rusia. Turista. Dato base. Total Nacional. ',
       'Suiza. Turista. Dato base. Total Nacional. ',
       'Europa menos UE28. Turista. Dato base. Total Nacional. ',
       'Estados Unidos de América. Turista. Dato base. Total Nacional. ',
       'Resto América. Turista. Dato base. Total Nacional. ',
       'Resto del Mundo. Turista. Dato base. Total Nacional. '],
      dtype=object)

In [66]:
num_tur_origin_full['info'] = num_tur_origin_full['info'].apply(lambda x: x.split('.')[0])
num_tur_origin_full = num_tur_origin_full.rename(columns = {'info':'Origin'})
num_tur_origin_full.head()

  Origin       Fecha      Valor
0  Total  2022-06-01  7460277.0
1  Total  2022-05-01  6966913.0
2  Total  2022-04-01  6102142.0
3  Total  2022-03-01  4032127.0
4  Total  2022-02-01  3156809.0

In [67]:
num_tur_origin_full = num_tur_origin_full.reindex(columns = ['Origin', 'Valor', 'Fecha'])
num_tur_origin_full.isna().sum()

Origin     0
Valor     10
Fecha      0
dtype: int64

In [69]:
num_tur_origin_full = num_tur_origin_full.dropna(axis=0)
num_tur_origin_full.isna().sum()

Origin    0
Valor     0
Fecha     0
dtype: int64

In [70]:
file_name = 'num_turists_by_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

num_tur_origin_full.to_excel(path+file_name)

 ### Combine
- num_turists_by_stay / turism_expenditure_by_stay
- num_turists_by_motive / turism_expenditure_by_trip_motive
- num_turists_by_origin / turism_expenditure_by_ccaa_origin

#### Zoom In: Zonas turisticas (hoteles)

Combinar:
- Viajeros y pernoctaciones por puntos turísticos
- Estancia media por puntos turísticos
- Establecimientos, plazas estimadas, grados de ocupación y personal empleado por puntos turísticas
- Tarifa media diaria (ADR) desglose por puntos turísticas
- Tarifa media diaria (ADR) desglose por puntos turísticas


Combinar:
- Índices de precios hoteleros, índices y tasas de variación interanual por comunidades autónomas
- Índices de ingresos hoteleros, índices y tasas de variación interanual por comunidades autónomas


#### Zoom In: Apartamentos turísticos
- Viajeros y pernoctaciones por puntos turísticos
- Plazas, apartamentos, grados de ocupación y personal empleado por puntos turísticos
- Número de alojamientos turísticos y noches ocupados por residencia del viajero. Puntos turísticos.
- Viviendas turísticas, plazas y plazas por vivienda turística. Total nacional, comunidades autónomas y provincias


- Índice de precios de apartamentos (IPAP): índice general nacional y desglose por modalidades
- Índice de precios de apartamentos (IPAP): índice general nacional y desglose por tarifas