# MBP: Spain's turism industry dashboard

#### Data extraction from Instituto Nacional de Estadística (INE)

Libraries

In [1]:
from functions import get_data_and_create_excel_file
from functions import normalize_json
from functions import extract_rows
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\ameli\anaconda3\envs\Midbootcamp\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Turism expendinture in Spain

### Statistic: Gasto de los turistas internacionales según comunidad autónoma de destino principal y país de residencia

#### Unidades: €, Millones €, Días, %, Tasas

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=24746&L=0

In [2]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/24746?nult=10'
file_name = 'turism_expenditure_by_ccaa_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_expenditure_by_ccaa_origin = get_data_and_create_excel_file(url, file_name, path)
turism_expenditure_by_ccaa_origin.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4584737,Total. Turista. Gasto total. Total Nacional. D...,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4584613,Total. Turista. Gasto total. Total Nacional. T...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4585410,Total. Turista. Gasto total. Andalucía. Dato b...,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4586243,Total. Turista. Gasto total. Andalucía. Tasa d...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4585407,"Total. Turista. Gasto total. Balears, Illes. D...",7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [3]:
turism_expenditure_by_ccaa_origin.Nombre.unique()

array(['Total. Turista. Gasto total. Total Nacional. Dato base. ',
       'Total. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Andalucía. Dato base. ',
       'Total. Turista. Gasto total. Andalucía. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto total. Balears, Illes. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Canarias. Dato base. ',
       'Total. Turista. Gasto total. Canarias. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Cataluña. Dato base. ',
       'Total. Turista. Gasto total. Cataluña. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto total. Comunitat Valenciana. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto total. Madrid, Comunidad de. Tasa de variación anual. ',
       'Total. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto total. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Total. Turista. Gasto medio por persona. Andalucía. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto medio por persona. Balears, Illes. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Total. Turista. Gasto medio por persona. Canarias. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Total. Turista. Gasto medio por persona. Cataluña. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto medio por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto medio por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Andalucía. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Balears, Illes. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Canarias. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Cataluña. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Total. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Total. Turista. Duración media de los viajes. Andalucía. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Total. Turista. Duración media de los viajes. Balears, Illes. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Total. Turista. Duración media de los viajes. Canarias. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Total. Turista. Duración media de los viajes. Cataluña. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Duración media de los viajes. Comunitat Valenciana. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Duración media de los viajes. Madrid, Comunidad de. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto total. Andalucía. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto total. Balears, Illes. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto total. Canarias. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto total. Cataluña. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto total. Comunitat Valenciana. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto total. Madrid, Comunidad de. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto total. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Andalucía. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Balears, Illes. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Canarias. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Cataluña. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Andalucía. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Balears, Illes. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Canarias. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Cataluña. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Andalucía. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Balears, Illes. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Canarias. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Cataluña. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Comunitat Valenciana. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Madrid, Comunidad de. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Andalucía. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Balears, Illes. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Canarias. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Cataluña. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Comunitat Valenciana. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Madrid, Comunidad de. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Andalucía. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Balears, Illes. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Canarias. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Cataluña. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Andalucía. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Balears, Illes. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Canarias. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Cataluña. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Comunitat Valenciana. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Andalucía. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Balears, Illes. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Canarias. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Cataluña. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Comunitat Valenciana. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Madrid, Comunidad de. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto total. Andalucía. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto total. Balears, Illes. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Canarias. Dato base. ',
       'Alemania. Turista. Gasto total. Canarias. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto total. Cataluña. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Gasto total. Comunitat Valenciana. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Gasto total. Madrid, Comunidad de. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Gasto total. Otras Comunidades Autónomas. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Andalucía. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Balears, Illes. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Canarias. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Cataluña. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',

In [4]:
turism_expenditure_by_ccaa_origin = turism_expenditure_by_ccaa_origin.loc[turism_expenditure_by_ccaa_origin['Nombre'].
                                                                          str.contains('Dato base')].reset_index(drop=True)
turism_expenditure_by_ccaa_origin.Nombre.unique()

array(['Total. Turista. Gasto total. Total Nacional. Dato base. ',
       'Total. Turista. Gasto total. Andalucía. Dato base. ',
       'Total. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto total. Canarias. Dato base. ',
       'Total. Turista. Gasto total. Cataluña. Dato base. ',
       'Total. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Total. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Total. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Total. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Total. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Total. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Total. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Total. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Total. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Total. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Total. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Total. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto total. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto total. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto total. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto total. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Gasto total. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto total. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto total. Canarias. Dato base. ',
       'Alemania. Turista. Gasto total. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Francia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto total. Andalucía. Dato base. ',
       'Francia. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Francia. Turista. Gasto total. Canarias. Dato base. ',
       'Francia. Turista. Gasto total. Cataluña. Dato base. ',
       'Francia. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Francia. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Francia. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. ',
       'Italia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto total. Andalucía. Dato base. ',
       'Italia. Turista. Gasto total. Balears, Illes. Dato base. ',
       'Italia. Turista. Gasto total. Canarias. Dato base. ',
       'Italia. Turista. Gasto total. Cataluña. Dato base. ',
       'Italia. Turista. Gasto total. Comunitat Valenciana. Dato base. ',
       'Italia. Turista. Gasto total. Madrid, Comunidad de. Dato base. ',
       'Italia. Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Andalucía. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Balears, Illes. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Canarias. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Cataluña. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Comunitat Valenciana. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Madrid, Comunidad de. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Otras Comunidades Autónomas. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Andalucía. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Balears, Illes. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Canarias. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Cataluña. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Comunitat Valenciana. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Madrid, Comunidad de. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Otras Comunidades Autónomas. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Andalucía. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Balears, Illes. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Canarias. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Cataluña. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Comunitat Valenciana. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Madrid, Comunidad de. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Otras Comunidades Autónomas. Dato base. '],
      dtype=object)

In [5]:
turism_expenditure_by_ccaa_origin_full = normalize_json(turism_expenditure_by_ccaa_origin)
turism_expenditure_by_ccaa_origin_full.head()

                                                info       Fecha     Valor
0  Total. Turista. Gasto total. Total Nacional. D...  2021-01-01  34903.37
1  Total. Turista. Gasto total. Total Nacional. D...  2020-01-01  19786.78
2  Total. Turista. Gasto total. Total Nacional. D...  2019-01-01  91911.97
3  Total. Turista. Gasto total. Total Nacional. D...  2018-01-01  89750.75
4  Total. Turista. Gasto total. Total Nacional. D...  2017-01-01  87003.93

In [6]:
turism_expenditure_by_ccaa_origin_full['info'].unique()
turism_expenditure_by_ccaa_origin_full['Destino'] = turism_expenditure_by_ccaa_origin_full['info'].apply(lambda
                                                                                                              x: x.split('.')[3])
turism_expenditure_by_ccaa_origin_full['Categoria'] = turism_expenditure_by_ccaa_origin_full['info'].apply(lambda
                                                                                                              x: x.split('.')[2])
turism_expenditure_by_ccaa_origin_full['Origen'] = turism_expenditure_by_ccaa_origin_full['info'].apply(lambda
                                                                                                              x: x.split('.')[0])

In [7]:
turism_expenditure_by_ccaa_origin_full.head()

,info,Fecha,Valor,Destino,Categoria,Origen
0,Total. Turista. Gasto total. Total Nacional. D...,2021-01-01,34903.37,Total Nacional,Gasto total,Total
1,Total. Turista. Gasto total. Total Nacional. D...,2020-01-01,19786.78,Total Nacional,Gasto total,Total
2,Total. Turista. Gasto total. Total Nacional. D...,2019-01-01,91911.97,Total Nacional,Gasto total,Total
3,Total. Turista. Gasto total. Total Nacional. D...,2018-01-01,89750.75,Total Nacional,Gasto total,Total
4,Total. Turista. Gasto total. Total Nacional. D...,2017-01-01,87003.93,Total Nacional,Gasto total,Total

In [8]:
turism_expenditure_by_ccaa_origin_full = turism_expenditure_by_ccaa_origin_full.drop('info', axis=1)
turism_expenditure_by_ccaa_origin_full = turism_expenditure_by_ccaa_origin_full.reindex(columns = 
                                                                                       ['Origen', 'Categoria','Destino', 'Valor','Fecha'])

In [9]:
turism_expenditure_by_ccaa_origin_full.isna().sum()

Origen       0
Categoria    0
Destino      0
Valor        0
Fecha        0
dtype: int64

In [10]:
turism_expenditure_by_ccaa_origin_full = turism_expenditure_by_ccaa_origin_full.rename(columns = 
                                                                                       {'Origen':'origin',
                                                                                        'Categoria': 'category',
                                                                                        'Destino': 'destiny',
                                                                                        'Valor': 'value',
                                                                                        'Fecha':'date'})

In [11]:
file_name = 'turism_expenditure_by_ccaa_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_expenditure_by_ccaa_origin_full.to_excel(path+file_name)

## Statistic: Gasto de los turistas internacionales según partidas de gasto y comunidad autónoma de destino principal

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=24745

In [12]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/24745?nult=10'
file_name = 'turism_expenditure_by_ccaa_item.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_exp_ccaa_item = get_data_and_create_excel_file(url, file_name, path)
turism_exp_ccaa_item.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4583835,Total Nacional. Turista. Gasto total. Dato base.,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4583907,Total Nacional. Turista. Gasto total. Tasa de ...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4583831,Andalucía. Turista. Gasto total. Dato base.,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4583903,Andalucía. Turista. Gasto total. Tasa de varia...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4583819,"Balears, Illes. Turista. Gasto total. Dato base.",7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [13]:
turism_exp_ccaa_item = turism_exp_ccaa_item.loc[turism_exp_ccaa_item.Nombre.str.contains('Dato base')]

In [14]:
turism_exp_ccaa_item_full = normalize_json(turism_exp_ccaa_item)
turism_exp_ccaa_item_full.head()

                                                info       Fecha     Valor
0  Total Nacional. Turista. Gasto total. Dato base.   2021-01-01  34903.37
1  Total Nacional. Turista. Gasto total. Dato base.   2020-01-01  19786.78
2  Total Nacional. Turista. Gasto total. Dato base.   2019-01-01  91911.97
3  Total Nacional. Turista. Gasto total. Dato base.   2018-01-01  89750.75
4  Total Nacional. Turista. Gasto total. Dato base.   2017-01-01  87003.93

In [15]:
turism_exp_ccaa_item_full['info'].unique()

array(['Total Nacional. Turista. Gasto total. Dato base. ',
       'Andalucía. Turista. Gasto total. Dato base. ',
       'Balears, Illes. Turista. Gasto total. Dato base. ',
       'Canarias. Turista. Gasto total. Dato base. ',
       'Cataluña. Turista. Gasto total. Dato base. ',
       'Comunitat Valenciana. Turista. Gasto total. Dato base. ',
       'Madrid, Comunidad de. Turista. Gasto total. Dato base. ',
       'Turista. Gasto total. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en paquete turístico. Total Nacional. Dato base. ',
       'Turista. Gasto en paquete turístico. Andalucía. Dato base. ',
       'Turista. Gasto en paquete turístico. Balears, Illes. Dato base. ',
       'Turista. Gasto en paquete turístico. Canarias. Dato base. ',
       'Turista. Gasto en paquete turístico. Cataluña. Dato base. ',
       'Turista. Gasto en paquete turístico. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en paquete turístico. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en paquete turístico. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Total Nacional. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Andalucía. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Balears, Illes. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Canarias. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Cataluña. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en transporte internacional. Total Nacional. Dato base. ',
       'Turista. Gasto en transporte internacional. Andalucía. Dato base. ',
       'Turista. Gasto en transporte internacional. Balears, Illes. Dato base. ',
       'Turista. Gasto en transporte internacional. Canarias. Dato base. ',
       'Turista. Gasto en transporte internacional. Cataluña. Dato base. ',
       'Turista. Gasto en transporte internacional. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en transporte internacional. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en transporte internacional. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en alojamiento. Total Nacional. Dato base. ',
       'Turista. Gasto en alojamiento. Andalucía. Dato base. ',
       'Turista. Gasto en alojamiento. Balears, Illes. Dato base. ',
       'Turista. Gasto en alojamiento. Canarias. Dato base. ',
       'Turista. Gasto en alojamiento. Cataluña. Dato base. ',
       'Turista. Gasto en alojamiento. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en alojamiento. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en alojamiento. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en manutención. Total Nacional. Dato base. ',
       'Turista. Gasto en manutención. Andalucía. Dato base. ',
       'Turista. Gasto en manutención. Balears, Illes. Dato base. ',
       'Turista. Gasto en manutención. Canarias. Dato base. ',
       'Turista. Gasto en manutención. Cataluña. Dato base. ',
       'Turista. Gasto en manutención. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en manutención. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en manutención. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Gasto en actividades. Total Nacional. Dato base. ',
       'Turista. Gasto en actividades. Andalucía. Dato base. ',
       'Turista. Gasto en actividades. Balears, Illes. Dato base. ',
       'Turista. Gasto en actividades. Canarias. Dato base. ',
       'Turista. Gasto en actividades. Cataluña. Dato base. ',
       'Turista. Gasto en actividades. Comunitat Valenciana. Dato base. ',
       'Turista. Gasto en actividades. Madrid, Comunidad de. Dato base. ',
       'Turista. Gasto en actividades. Otras Comunidades Autónomas. Dato base. ',
       'Turista. Otros gastos. Total Nacional. Dato base. ',
       'Turista. Otros gastos. Andalucía. Dato base. ',
       'Turista. Otros gastos. Balears, Illes. Dato base. ',
       'Turista. Otros gastos. Canarias. Dato base. ',
       'Turista. Otros gastos. Cataluña. Dato base. ',
       'Turista. Otros gastos. Comunitat Valenciana. Dato base. ',
       'Turista. Otros gastos. Madrid, Comunidad de. Dato base. ',
       'Turista. Otros gastos. Otras Comunidades Autónomas. Dato base. '],
      dtype=object)

In [16]:
total_expenditure = turism_exp_ccaa_item_full.loc[turism_exp_ccaa_item_full['info'].str.contains('Gasto total')]
turism_exp_ccaa_item_full = turism_exp_ccaa_item_full.drop(total_expenditure.index, axis=0)

In [17]:
total_expenditure['Gasto_item'] = total_expenditure['info'].apply(lambda x: x.split('.')[2])
total_expenditure['Destino'] = total_expenditure['info'].apply(lambda x: x.split('.')[0])

turism_exp_ccaa_item_full['Gasto_item'] = turism_exp_ccaa_item_full['info'].apply(lambda x: x.split('.')[1])
turism_exp_ccaa_item_full['Destino'] = turism_exp_ccaa_item_full['info'].apply(lambda x: x.split('.')[2])

turism_exp_ccaa_item_full = pd.concat([total_expenditure, turism_exp_ccaa_item_full], axis = 0)

In [18]:
turism_exp_ccaa_item_full = turism_exp_ccaa_item_full.drop('info', axis = 1)
turism_exp_ccaa_item_full = turism_exp_ccaa_item_full.reindex(columns = ['Gasto_item', 'Destino', 'Valor', 'Fecha'])
turism_exp_ccaa_item_full.head()

     Gasto_item         Destino     Valor       Fecha
0   Gasto total  Total Nacional  34903.37  2021-01-01
1   Gasto total  Total Nacional  19786.78  2020-01-01
2   Gasto total  Total Nacional  91911.97  2019-01-01
3   Gasto total  Total Nacional  89750.75  2018-01-01
4   Gasto total  Total Nacional  87003.93  2017-01-01

In [19]:
turism_exp_ccaa_item_full.isna().sum()

Gasto_item    0
Destino       0
Valor         0
Fecha         0
dtype: int64

In [20]:
turism_exp_ccaa_item_full = turism_exp_ccaa_item_full.rename(columns = 
                                                            {'Gasto_item': 'expense',
                                                            'Destino':'destiny',
                                                            'Valor': 'value',
                                                            'Fecha':'date'})

In [21]:
file_name = 'turism_expenditure_by_ccaa_item.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_exp_ccaa_item_full.to_excel(path+file_name)

## Statistic: Gasto de los turistas internacionales según tipo de alojamiento principal
Units: €, Millones €, Días, Tasas

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=10836

In [22]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/23993?date=20150101:20220601'
file_name = 'turism_expenditure_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_exp_stay = get_data_and_create_excel_file(url, file_name, path)
turism_exp_stay.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4584489,Turista. Total. Gasto total. Total Nacional. D...,7,13,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4584469,Turista. Total. Gasto total. Total Nacional. T...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4584484,Turista. Total. Gasto medio por persona. Total...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4584468,Turista. Total. Gasto medio por persona. Total...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4584483,Turista. Total. Gasto medio diario por persona...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [23]:
turism_exp_stay.Nombre.unique()

array(['Turista. Total. Gasto total. Total Nacional. Dato base. ',
       'Turista. Total. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Total. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Total. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Total. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Total. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. De mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Gasto total. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. No de mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. '],
      dtype=object)

In [24]:
turism_exp_stay = turism_exp_stay.loc[turism_exp_stay.Nombre.str.contains('Dato base')]
turism_exp_stay.Nombre.unique()

array(['Turista. Total. Gasto total. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Total. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto total. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Duración media de los viajes. Total Nacional. Dato base. '],
      dtype=object)

In [25]:
turism_exp_stay_full = normalize_json(turism_exp_stay)
turism_exp_stay_full.head()

                                                info       Fecha     Valor
0  Turista. Total. Gasto total. Total Nacional. D...  2021-01-01  34903.37
1  Turista. Total. Gasto total. Total Nacional. D...  2020-01-01  19786.78
2  Turista. Total. Gasto total. Total Nacional. D...  2019-01-01  91911.97
3  Turista. Total. Gasto total. Total Nacional. D...  2018-01-01  89750.75
4  Turista. Total. Gasto total. Total Nacional. D...  2017-01-01  87003.93

In [26]:
turism_exp_stay_full['Tipo_alojamiento'] = turism_exp_stay_full['info'].apply(lambda x: x.split('.')[1])
turism_exp_stay_full['Categoria_gasto'] = turism_exp_stay_full['info'].apply(lambda x: x.split('.')[2])

In [27]:
turism_exp_stay_full = turism_exp_stay_full.drop('info', axis = 1)
turism_exp_stay_full = turism_exp_stay_full.reindex(columns = ['Tipo_alojamiento', 'Categoria_gasto', 'Valor', 'Fecha'])
turism_exp_stay_full.head()

  Tipo_alojamiento Categoria_gasto     Valor       Fecha
0            Total     Gasto total  34903.37  2021-01-01
1            Total     Gasto total  19786.78  2020-01-01
2            Total     Gasto total  91911.97  2019-01-01
3            Total     Gasto total  89750.75  2018-01-01
4            Total     Gasto total  87003.93  2017-01-01

In [28]:
turism_exp_stay_full.isna().sum()

Tipo_alojamiento    0
Categoria_gasto     0
Valor               0
Fecha               0
dtype: int64

In [29]:
turism_exp_stay_full = turism_exp_stay_full.rename(columns = {'Tipo_alojamiento':'stay_type',
                                                              'Categoria_gasto': 'expense_type',
                                                              'Valor': 'value',
                                                              'Fecha':'date'})

In [30]:
file_name = 'turism_expenditure_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_exp_stay_full.to_excel(path+file_name)

## Statistic: Gasto de los turistas internacionales según sexo y edad
Units: €, Millones €, Días, Tasas

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=24744

In [31]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/24744?date=20150101:20220601'
file_name = 'turism_expenditure_by_sex_and_age.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_exp_sex_gender = get_data_and_create_excel_file(url, file_name, path)
turism_exp_sex_gender.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4586252,Turista. Gasto total. Total Nacional. Dato bas...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4584969,Turista. Gasto total. Total Nacional. Dato bas...,7,13,[]
2,FREG4584968,Turista. Gasto total. Total Nacional. Dato bas...,7,13,[]
3,FREG4584967,Turista. Gasto total. Total Nacional. Dato bas...,7,13,[]
4,FREG4584966,Turista. Gasto total. Total Nacional. Dato bas...,7,13,[]

In [32]:
turism_exp_sex_gender = turism_exp_sex_gender.loc[turism_exp_sex_gender['Nombre'].str.contains('Dato base.')]
turism_exp_sex_gender.Nombre.unique()

array(['Turista. Gasto total. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. 65 y más años. '],
      dtype=object)

In [33]:
turism_exp_sex_gender_full = normalize_json(turism_exp_sex_gender)

turism_exp_sex_gender_full['Sexo'] = turism_exp_sex_gender_full['info'].apply(lambda x: x.split(".")[4])
turism_exp_sex_gender_full['Rango_edad'] = turism_exp_sex_gender_full['info'].apply(lambda x: x.split(".")[5])
turism_exp_sex_gender_full['Categoria_gasto'] = turism_exp_sex_gender_full['info'].apply(lambda x: x.split(".")[1])
turism_exp_sex_gender_full['Destino'] = turism_exp_sex_gender_full['info'].apply(lambda x: x.split(".")[2])

turism_exp_sex_gender_full.head()

,info,Fecha,Valor,Sexo,Rango_edad,Categoria_gasto,Destino
0,Turista. Gasto total. Total Nacional. Dato bas...,2021-01-01,34903.37,Total,Todas las edades,Gasto total,Total Nacional
1,Turista. Gasto total. Total Nacional. Dato bas...,2020-01-01,19786.78,Total,Todas las edades,Gasto total,Total Nacional
2,Turista. Gasto total. Total Nacional. Dato bas...,2019-01-01,91911.97,Total,Todas las edades,Gasto total,Total Nacional
3,Turista. Gasto total. Total Nacional. Dato bas...,2018-01-01,89750.75,Total,Todas las edades,Gasto total,Total Nacional
4,Turista. Gasto total. Total Nacional. Dato bas...,2017-01-01,87003.93,Total,Todas las edades,Gasto total,Total Nacional

In [34]:
#turism_exp_sex_gender_full = turism_exp_sex_gender_full.drop('info', axis=1)
turism_exp_sex_gender_full = turism_exp_sex_gender_full.reindex(columns = ['Categoria_gasto',
                                                                          'Rango_edad', 'Sexo',
                                                                          'Valor', 'Fecha'])
turism_exp_sex_gender_full.tail()

,Categoria_gasto,Rango_edad,Sexo,Valor,Fecha
259,Duración media de los viajes,65 y más años,Mujeres,11.77,2020-01-01
260,Duración media de los viajes,65 y más años,Mujeres,10.94,2019-01-01
261,Duración media de los viajes,65 y más años,Mujeres,11.97,2018-01-01
262,Duración media de los viajes,65 y más años,Mujeres,12.19,2017-01-01
263,Duración media de los viajes,65 y más años,Mujeres,12.69,2016-01-01

In [35]:
turism_exp_sex_gender_full.isna().sum()

Categoria_gasto    0
Rango_edad         0
Sexo               0
Valor              0
Fecha              0
dtype: int64

In [36]:
turism_exp_sex_gender_full = turism_exp_sex_gender_full.rename(columns = 
                                                            {'Categoria_gasto': 'expense_type',
                                                            'Rango_edad':'age',
                                                            'Valor': 'value',
                                                            'Fecha':'date'})

In [37]:
file_name = 'turism_expenditure_by_sex_and_age.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_exp_stay_full.to_excel(path+file_name)

### Statistic: Gasto de los turistas internacionales según motivo principal del viaje

Units: €, Millones €, Días, Tasas

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=10840

In [38]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/23995?nult=10'
file_name = 'turism_expenditure_by_trip_motive.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_exp_motive = get_data_and_create_excel_file(url, file_name, path)
turism_exp_motive.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4584865,Total. Gasto total. Turista. Total Nacional. D...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4584801,Total. Gasto total. Turista. Total Nacional. T...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4584849,Total. Gasto medio por persona. Turista. Total...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4584800,Total. Gasto medio por persona. Turista. Total...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4584848,Total. Gasto medio diario por persona. Turista...,7,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [39]:
turism_exp_motive.Nombre.unique()

array(['Total. Gasto total. Turista. Total Nacional. Dato base. ',
       'Total. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Total. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Total. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Total. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Total. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Total. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Total. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivo profesional. Gasto total. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivo profesional. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivo profesional. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivo profesional. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Congresos, ferias y convenciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Congresos, ferias y convenciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Congresos, ferias y convenciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Congresos, ferias y convenciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Trabajador estacional temporero. Gasto total. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Trabajador estacional temporero. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Trabajador estacional temporero. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Trabajador estacional temporero. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros motivos profesionales. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros motivos profesionales. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros motivos profesionales. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros motivos profesionales. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Estudios (educación y formación). Gasto total. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Estudios (educación y formación). Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Estudios (educación y formación). Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Estudios (educación y formación). Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Visitas a familiares o amigos. Gasto total. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Visitas a familiares o amigos. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Visitas a familiares o amigos. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Visitas a familiares o amigos. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Tratamiento de salud voluntario. Gasto total. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Tratamiento de salud voluntario. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Tratamiento de salud voluntario. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Tratamiento de salud voluntario. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivos religiosos o peregrinaciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivos religiosos o peregrinaciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivos religiosos o peregrinaciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Motivos religiosos o peregrinaciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de compras. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de compras. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de compras. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de compras. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Ocio, recreo y vacaciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Ocio, recreo y vacaciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Ocio, recreo y vacaciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Ocio, recreo y vacaciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo cultural. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo cultural. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo cultural. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo cultural. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo deportivo. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo deportivo. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo deportivo. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo deportivo. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de sol y playa. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de sol y playa. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de sol y playa. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Turismo de sol y playa. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Otro tipo de turismo de ocio. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Otro tipo de turismo de ocio. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otro tipo de turismo de ocio. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otro tipo de turismo de ocio. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto total. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto medio por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto medio diario por persona. Turista. Total Nacional. Tasa de variación anual. ',
       'Otros. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otros. Duración media de los viajes. Turista. Total Nacional. Tasa de variación anual. '],
      dtype=object)

In [40]:
turism_exp_motive = turism_exp_motive.loc[turism_exp_motive.Nombre.str.contains('Dato base')]
turism_exp_motive.Nombre.unique()

array(['Total. Gasto total. Turista. Total Nacional. Dato base. ',
       'Total. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Total. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Total. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto total. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Motivo profesional. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Congresos, ferias y convenciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto total. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Trabajador estacional temporero. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otros motivos profesionales. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto total. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Estudios (educación y formación). Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto total. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Visitas a familiares o amigos. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto total. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Tratamiento de salud voluntario. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Motivos religiosos o peregrinaciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de compras. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto total. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Ocio, recreo y vacaciones. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo cultural. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo deportivo. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto total. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Turismo de sol y playa. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otro tipo de turismo de ocio. Duración media de los viajes. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto total. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto medio por persona. Turista. Total Nacional. Dato base. ',
       'Otros. Gasto medio diario por persona. Turista. Total Nacional. Dato base. ',
       'Otros. Duración media de los viajes. Turista. Total Nacional. Dato base. '],
      dtype=object)

In [41]:
turism_exp_motive_full = normalize_json(turism_exp_motive)
turism_exp_motive_full.head()

                                                info       Fecha     Valor
0  Total. Gasto total. Turista. Total Nacional. D...  2021-01-01  34903.37
1  Total. Gasto total. Turista. Total Nacional. D...  2020-01-01  19786.78
2  Total. Gasto total. Turista. Total Nacional. D...  2019-01-01  91911.97
3  Total. Gasto total. Turista. Total Nacional. D...  2018-01-01  89750.75
4  Total. Gasto total. Turista. Total Nacional. D...  2017-01-01  87003.93

In [42]:
turism_exp_motive_full['Categoria_gasto'] = turism_exp_motive_full['info'].apply(lambda x: x.split('.')[1])
turism_exp_motive_full['Motivo'] = turism_exp_motive_full['info'].apply(lambda x: x.split('.')[0])

turism_exp_motive_full = turism_exp_motive_full.drop('info', axis=1)
turism_exp_motive_full.head()

        Fecha     Valor Categoria_gasto Motivo
0  2021-01-01  34903.37     Gasto total  Total
1  2020-01-01  19786.78     Gasto total  Total
2  2019-01-01  91911.97     Gasto total  Total
3  2018-01-01  89750.75     Gasto total  Total
4  2017-01-01  87003.93     Gasto total  Total

In [43]:
turism_exp_motive_full = turism_exp_motive_full.reindex(columns=['Categoria_gasto', 'Motivo',
                                                                'Valor', 'Fecha'])

turism_exp_motive_full.isna().sum()

Categoria_gasto     0
Motivo              0
Valor              24
Fecha               0
dtype: int64

In [44]:
missing_values = turism_exp_motive_full.loc[turism_exp_motive_full.Valor.isna()].index
turism_exp_motive_full = turism_exp_motive_full.drop(missing_values)
turism_exp_motive_full.isna().sum()

Categoria_gasto    0
Motivo             0
Valor              0
Fecha              0
dtype: int64

In [45]:
turism_exp_motive_full = turism_exp_motive_full.rename(columns = 
                                                            {'Categoria_gasto': 'expense_type',
                                                            'Motivo':'motive',
                                                            'Valor': 'value',
                                                            'Fecha':'date'})

In [46]:
file_name = 'turism_expenditure_by_trip_motive.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_exp_motive_full.to_excel(path+file_name)

## Turists' perfil

### Statistic: Número de turistas según comunidad autónoma de destino principal

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=10822

In [47]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10823?date=20151001:20220601'
file_name = 'num_turists_by_ccaa.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

num_tur_ccaa = get_data_and_create_excel_file(url, file_name, path)
num_tur_ccaa.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG286,Turista. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG283,Turista. Total Nacional. Tasa de variación anu...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG1125,Turista. Total Nacional. Acumulado en lo que v...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG1128,Turista. Total Nacional. Tasa de variación acu...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG351,Andalucía. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [48]:
num_tur_ccaa = num_tur_ccaa.loc[num_tur_ccaa['Nombre'].str.contains('base')].reset_index(drop=True)
num_tur_ccaa.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG286,Turista. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG351,Andalucía. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG350,"Balears, Illes. Turista. Dato base.",3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG349,Canarias. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG348,Cataluña. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [49]:
num_tur_ccaa_full = normalize_json(num_tur_ccaa)
num_tur_ccaa_full['info'].unique()

array(['Turista. Total Nacional. Dato base. ',
       'Andalucía. Turista. Dato base. ',
       'Balears, Illes. Turista. Dato base. ',
       'Canarias. Turista. Dato base. ', 'Cataluña. Turista. Dato base. ',
       'Comunitat Valenciana. Turista. Dato base. ',
       'Madrid, Comunidad de. Turista. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Dato base. '], dtype=object)

In [50]:
num_tur_ccaa_full['Destino'] = num_tur_ccaa_full['info'].apply(lambda x: x.split('.')[0])
num_tur_ccaa_full['Destino'][0] = 'Total Nacional'

C:\Users\ameli\AppData\Local\Temp\ipykernel_26388\3796969646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  num_tur_ccaa_full['Destino'][0] = 'Total Nacional'

In [51]:
num_tur_ccaa_full = num_tur_ccaa_full.drop('info', axis = 1)

In [52]:
num_tur_ccaa_full = num_tur_ccaa_full.reindex(columns=['Destino', 'Valor', 'Fecha'])

In [53]:
num_tur_ccaa_full.isna().sum()

Destino    0
Valor      0
Fecha      0
dtype: int64

In [54]:
num_tur_ccaa_full = num_tur_ccaa_full.rename(columns = {'Destino': 'destiny',
                                                        'Valor': 'value',
                                                        'Fecha':'date'})

In [55]:
file_name = 'num_turists_by_ccaa.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

num_tur_ccaa_full.to_excel(path+file_name)

### Statistic: Número de turistas según tipo de alojamiento principal

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=10826

In [56]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10826?date=20151001:20220601'
file_name = 'num_turists_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

num_tur_stay = get_data_and_create_excel_file(url, file_name, path)
num_tur_stay.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG305,Turista. Total. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG301,Turista. Total. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG1148,Turista. Total. Total Nacional. Acumulado en l...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG1157,Turista. Total. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG593,Turista. De mercado. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [57]:
num_tur_stay = num_tur_stay.loc[num_tur_stay['Nombre'].str.contains('base')].reset_index(drop=True)
num_tur_stay.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG305,Turista. Total. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG593,Turista. De mercado. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG304,Turista. Hoteles o apartahotel. Total Nacional...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG665,Turista. Vivienda en alquiler. Total Nacional....,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG303,Turista. Resto de mercado. Total Nacional. Dat...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [58]:
num_tur_stay_full = normalize_json(num_tur_stay)
num_tur_stay_full.head()

                                          info       Fecha      Valor
0  Turista. Total. Total Nacional. Dato base.   2022-06-01  7460277.0
1  Turista. Total. Total Nacional. Dato base.   2022-05-01  6966913.0
2  Turista. Total. Total Nacional. Dato base.   2022-04-01  6102142.0
3  Turista. Total. Total Nacional. Dato base.   2022-03-01  4032127.0
4  Turista. Total. Total Nacional. Dato base.   2022-02-01  3156809.0

In [59]:
num_tur_stay_full['Tipo_alojamiento'] = num_tur_stay_full['info'].apply(lambda x: x.split('.')[1])
num_tur_stay_full['Categoria_gasto'] = num_tur_stay_full['info'].apply(lambda x: x.split('.')[2])

In [60]:
num_tur_stay_full = num_tur_stay_full.drop('info', axis = 1)
num_tur_stay_full = num_tur_stay_full.reindex(columns = ['Tipo_alojamiento', 'Categoria_gasto', 'Valor', 'Fecha'])
num_tur_stay_full.head()

  Tipo_alojamiento  Categoria_gasto      Valor       Fecha
0            Total   Total Nacional  7460277.0  2022-06-01
1            Total   Total Nacional  6966913.0  2022-05-01
2            Total   Total Nacional  6102142.0  2022-04-01
3            Total   Total Nacional  4032127.0  2022-03-01
4            Total   Total Nacional  3156809.0  2022-02-01

In [61]:
num_tur_stay_full.isna().sum()

Tipo_alojamiento    0
Categoria_gasto     0
Valor               0
Fecha               0
dtype: int64

In [62]:
num_tur_stay_full = num_tur_stay_full.rename(columns = {'Tipo_alojamiento': 'stay_tipe',
                                                        'Categoria_gasto': 'expense_type',
                                                        'Valor':'value',
                                                        'Fecha':'date'})

In [63]:
file_name = 'num_turists_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

num_tur_stay_full.to_excel(path+file_name)

### Statistic: Número de turistas según motivo del viaje

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=13864

In [64]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/23985?nult=10'
file_name = 'num_turists_by_motive.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

num_tur_motive = get_data_and_create_excel_file(url, file_name, path)
num_tur_motive.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG4583707,Turista. Total. Total Nacional. Dato base.,3,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
1,FREG4583711,Turista. Total. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
2,FREG4583706,"Turista. Ocio, recreo y vacaciones. Total Naci...",3,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
3,FREG4583710,"Turista. Ocio, recreo y vacaciones. Total Naci...",135,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."
4,FREG4583705,Turista. Motivo profesional. Total Nacional. D...,3,1,"[{'Fecha': 1609455600000, 'FK_TipoDato': 1, 'F..."

In [65]:
num_tur_motive.Nombre.unique()

array(['Turista. Total. Total Nacional. Dato base. ',
       'Turista. Total. Total Nacional. Tasa de variación anual. ',
       'Turista. Ocio, recreo y vacaciones. Total Nacional. Dato base. ',
       'Turista. Ocio, recreo y vacaciones. Total Nacional. Tasa de variación anual. ',
       'Turista. Motivo profesional. Total Nacional. Dato base. ',
       'Turista. Motivo profesional. Total Nacional. Tasa de variación anual. ',
       'Turista. Otros. Total Nacional. Dato base. ',
       'Turista. Otros. Total Nacional. Tasa de variación anual. '],
      dtype=object)

In [66]:
num_tur_motive = num_tur_motive.loc[num_tur_motive['Nombre'].str.contains('Dato base')]
num_tur_motive['Nombre'].unique()

array(['Turista. Total. Total Nacional. Dato base. ',
       'Turista. Ocio, recreo y vacaciones. Total Nacional. Dato base. ',
       'Turista. Motivo profesional. Total Nacional. Dato base. ',
       'Turista. Otros. Total Nacional. Dato base. '], dtype=object)

In [67]:
num_tur_motive_full = normalize_json(num_tur_motive)
num_tur_motive_full['info'].unique()

array(['Turista. Total. Total Nacional. Dato base. ',
       'Turista. Ocio, recreo y vacaciones. Total Nacional. Dato base. ',
       'Turista. Motivo profesional. Total Nacional. Dato base. ',
       'Turista. Otros. Total Nacional. Dato base. '], dtype=object)

In [68]:
num_tur_motive_full['Motivo'] = num_tur_motive_full['info'].apply(lambda x: x.split('.')[2])
num_tur_motive_full = num_tur_motive_full.drop('info', axis=1)
num_tur_motive_full.head()

        Fecha       Valor           Motivo
0  2021-01-01  31180802.0   Total Nacional
1  2020-01-01  18933103.0   Total Nacional
2  2019-01-01  83509153.0   Total Nacional
3  2018-01-01  82808413.0   Total Nacional
4  2017-01-01  81868522.0   Total Nacional

In [69]:
num_tur_motive_full = num_tur_motive_full.reindex(columns = ['Motivo', 'Valor', 'Fecha'])
num_tur_motive_full.isna().sum()

Motivo    0
Valor     0
Fecha     0
dtype: int64

In [70]:
num_tur_motive_full = num_tur_motive_full.rename(columns = {'Motivo':'motive',
                                                           'Valor':'value',
                                                           'Fecha': 'date'})

In [71]:
file_name = 'num_turists_by_motive.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

num_tur_motive_full.to_excel(path+file_name)

### Statistic: Número de turistas según país de residencia

Source: https://www.ine.es/jaxiT3/Tabla.htm?t=10822

In [72]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10822?date=20151001:20220601'
file_name = 'num_turists_by_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

num_tur_origin = get_data_and_create_excel_file(url, file_name, path)
num_tur_origin.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG337,Total. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG321,Total. Turista. Tasa de variación anual. Total...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG1173,Total. Turista. Total Nacional. Acumulado en l...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG1189,Total. Turista. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG336,Alemania. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [73]:
num_tur_origin = num_tur_origin.loc[num_tur_origin['Nombre'].str.contains('Dato base')]
num_tur_origin_full = normalize_json(num_tur_origin)
num_tur_origin_full['info'].unique()

array(['Total. Turista. Dato base. Total Nacional. ',
       'Alemania. Turista. Dato base. Total Nacional. ',
       'Bélgica. Turista. Dato base. Total Nacional. ',
       'Francia. Turista. Dato base. Total Nacional. ',
       'Irlanda. Turista. Dato base. Total Nacional. ',
       'Italia. Turista. Dato base. Total Nacional. ',
       'Países Bajos. Turista. Dato base. Total Nacional. ',
       'Países Nórdicos. Turista. Dato base. Total Nacional. ',
       'Portugal. Turista. Dato base. Total Nacional. ',
       'Reino Unido. Turista. Dato base. Total Nacional. ',
       'Rusia. Turista. Dato base. Total Nacional. ',
       'Suiza. Turista. Dato base. Total Nacional. ',
       'Europa menos UE28. Turista. Dato base. Total Nacional. ',
       'Estados Unidos de América. Turista. Dato base. Total Nacional. ',
       'Resto América. Turista. Dato base. Total Nacional. ',
       'Resto del Mundo. Turista. Dato base. Total Nacional. '],
      dtype=object)

In [74]:
num_tur_origin_full['info'] = num_tur_origin_full['info'].apply(lambda x: x.split('.')[0])
num_tur_origin_full = num_tur_origin_full.rename(columns = {'info':'Origin'})
num_tur_origin_full.head()

  Origin       Fecha      Valor
0  Total  2022-06-01  7460277.0
1  Total  2022-05-01  6966913.0
2  Total  2022-04-01  6102142.0
3  Total  2022-03-01  4032127.0
4  Total  2022-02-01  3156809.0

In [75]:
num_tur_origin_full = num_tur_origin_full.reindex(columns = ['Origin', 'Valor', 'Fecha'])
num_tur_origin_full.isna().sum()

Origin     0
Valor     10
Fecha      0
dtype: int64

In [76]:
num_tur_origin_full = num_tur_origin_full.dropna(axis=0)
num_tur_origin_full.isna().sum()

Origin    0
Valor     0
Fecha     0
dtype: int64

In [77]:
num_tur_origin_full = num_tur_origin_full.rename(columns = {'Origin':'origin',
                                                           'Valor':'value',
                                                           'Fecha': 'date'})

In [78]:
file_name = 'num_turists_by_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

num_tur_origin_full.to_excel(path+file_name)

 ### Combine
- num_turists_by_stay / turism_expenditure_by_stay
- num_turists_by_motive / turism_expenditure_by_trip_motive
- num_turists_by_origin / turism_expenditure_by_ccaa_origin

## Zoom In: hotels & turistic apartments

### Statistics

Hotels:

- Viajes y pernoctaciones por puntos turísticos (https://www.ine.es/jaxiT3/Tabla.htm?t=2078)
- Establecimientos, plazas estimadas, grados de ocupación y personal empleado por puntos turísticos (https://www.ine.es/jaxiT3/Tabla.htm?t=2066)
- Tarifa media (ADR) por puntos turísticos (https://www.ine.es/jaxiT3/Tabla.htm?t=46298)
- Índice de ingresos hoteleros, índices y tasas de variación interanual (https://www.ine.es/jaxiT3/Tabla.htm?t=2054)

In [79]:
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

hotels_nights = get_data_and_create_excel_file('https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/49370?date=20050101:20220701',
                                               'hotels_nights.xlsx', path)

hotels_overview = get_data_and_create_excel_file('https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/49372?date=20050101:20220701',
                                                 'hotels_overview.xlsx', path)

hotels_adr = get_data_and_create_excel_file('https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/46298?date=20050101:20220701',
                                            'hotels_adr.xlsx', path)

hotels_revenue = get_data_and_create_excel_file('https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/2054?date=20050101:20220701',
                                               'hotels_revenue.xlsx', path)

##### Hotels_nights

In [80]:
hotels_nights.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,EOT2611,Nacional. Viajeros. Vitoria-Gastéiz. Residente...,213,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,EOT2612,Nacional. Viajeros. Vitoria-Gastéiz. Residente...,213,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,EOT2613,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,242,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,EOT2614,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,242,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,EOT2615,Nacional. Viajeros. Albacete. Residentes en Es...,213,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [81]:
hotels_nights.Nombre.unique()

array(['Nacional. Viajeros. Vitoria-Gastéiz. Residentes en España.',
       'Nacional. Viajeros. Vitoria-Gastéiz. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Vitoria-Gastéiz. Residentes en España.',
       'Nacional. Pernoctaciones. Vitoria-Gastéiz. Residentes en el extranjero.',
       'Nacional. Viajeros. Albacete. Residentes en España.',
       'Nacional. Viajeros. Albacete. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Albacete. Residentes en España.',
       'Nacional. Pernoctaciones. Albacete. Residentes en el extranjero.',
       'Nacional. Viajeros. Alicante. Residentes en España.',
       'Nacional. Viajeros. Alicante. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Alicante. Residentes en España.',
       'Nacional. Pernoctaciones. Alicante. Residentes en el extranjero.',
       'Nacional. Viajeros. Benidorm. Residentes en España.',
       'Nacional. Viajeros. Benidorm. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Benidorm. Residentes en España.',
       'Nacional. Pernoctaciones. Benidorm. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 03063-Denia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 03063-Denia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 03063-Denia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 03063-Denia. Residentes en el extranjero.',
       'Viajero. Total categorías. Elche/Elx. Residentes en España. Dato base. ',
       'Viajero. Total categorías. Elche/Elx. Residentes en el Extranjero. Dato base. ',
       'Pernoctaciones. Total categorías. Elche/Elx. Residentes en España. Dato base. ',
       'Pernoctaciones. Total categorías. Elche/Elx. Residentes en el Extranjero. Dato base. ',
       'Nacional. Viajeros. Torrevieja. Residentes en España.',
       'Nacional. Viajeros. Torrevieja. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Torrevieja. Residentes en España.',
       'Nacional. Pernoctaciones. Torrevieja. Residentes en el extranjero.',
       'Nacional. Viajeros. Almería. Residentes en España.',
       'Nacional. Viajeros. Almería. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Almería. Residentes en España.',
       'Nacional. Pernoctaciones. Almería. Residentes en el extranjero.',
       'Nacional. Viajeros. Mojácar. Residentes en España.',
       'Nacional. Viajeros. Mojácar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Mojácar. Residentes en España.',
       'Nacional. Pernoctaciones. Mojácar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 04066-Níjar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 04066-Níjar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 04066-Níjar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 04066-Níjar. Residentes en el extranjero.',
       'Nacional. Viajeros. Roquetas De Mar. Residentes en España.',
       'Nacional. Viajeros. Roquetas De Mar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Roquetas De Mar. Residentes en España.',
       'Nacional. Pernoctaciones. Roquetas De Mar. Residentes en el extranjero.',
       'Nacional. Viajeros. Ávila. Residentes en España.',
       'Nacional. Viajeros. Ávila. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Ávila. Residentes en España.',
       'Nacional. Pernoctaciones. Ávila. Residentes en el extranjero.',
       'Viajero. Total categorías. Badajoz. Residentes en España. Dato base. ',
       'Viajero. Total categorías. Badajoz. Residentes en el Extranjero. Dato base. ',
       'Pernoctaciones. Total categorías. Badajoz. Residentes en España. Dato base. ',
       'Pernoctaciones. Total categorías. Badajoz. Residentes en el Extranjero. Dato base. ',
       'Nacional. Viajeros. Mérida. Residentes en España.',
       'Nacional. Viajeros. Mérida. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Mérida. Residentes en España.',
       'Nacional. Pernoctaciones. Mérida. Residentes en el extranjero.',
       'Nacional. Viajeros. Calviá. Residentes en España.',
       'Nacional. Viajeros. Calviá. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Calviá. Residentes en España.',
       'Nacional. Pernoctaciones. Calviá. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 07014-Capdepera. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 07014-Capdepera. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07014-Capdepera. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07014-Capdepera. Residentes en el extranjero.',
       'Nacional. Viajeros. Palma De Mallorca. Residentes en España.',
       'Nacional. Viajeros. Palma De Mallorca. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Palma De Mallorca. Residentes en España.',
       'Nacional. Pernoctaciones. Palma De Mallorca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 07051-Sant Llorenç des Cardassar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 07051-Sant Llorenç des Cardassar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07051-Sant Llorenç des Cardassar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07051-Sant Llorenç des Cardassar. Residentes en el extranjero.',
       'Nacional. Viajeros. Barcelona. Residentes en España.',
       'Nacional. Viajeros. Barcelona. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Barcelona. Residentes en España.',
       'Nacional. Pernoctaciones. Barcelona. Residentes en el extranjero.',
       'Sitges. Viajero. Total categorías. Residentes en España. Dato base. ',
       'Sitges. Viajero. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Sitges. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Sitges. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Viajeros. Burgos. Residentes en España.',
       'Nacional. Viajeros. Burgos. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Burgos. Residentes en España.',
       'Nacional. Pernoctaciones. Burgos. Residentes en el extranjero.',
       'Nacional. Viajeros. Cáceres. Residentes en España.',
       'Nacional. Viajeros. Cáceres. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cáceres. Residentes en España.',
       'Nacional. Pernoctaciones. Cáceres. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 10148-Plasencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 10148-Plasencia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10148-Plasencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10148-Plasencia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 10195-Trujillo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 10195-Trujillo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10195-Trujillo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10195-Trujillo. Residentes en el extranjero.',
       'Nacional. Viajeros. Algeciras. Residentes en España.',
       'Nacional. Viajeros. Algeciras. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Algeciras. Residentes en España.',
       'Nacional. Pernoctaciones. Algeciras. Residentes en el extranjero.',
       'Nacional. Viajeros. Arcos De La Frontera. Residentes en España.',
       'Nacional. Viajeros. Arcos De La Frontera. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Arcos De La Frontera. Residentes en España.',
       'Nacional. Pernoctaciones. Arcos De La Frontera. Residentes en el extranjero.',
       'Nacional. Viajeros. Cádiz. Residentes en España.',
       'Nacional. Viajeros. Cádiz. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cádiz. Residentes en España.',
       'Nacional. Pernoctaciones. Cádiz. Residentes en el extranjero.',
       'Nacional. Viajeros. Jerez De La Frontera. Residentes en España.',
       'Nacional. Viajeros. Jerez De La Frontera. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Jerez De La Frontera. Residentes en España.',
       'Nacional. Pernoctaciones. Jerez De La Frontera. Residentes en el extranjero.',
       'Nacional. Viajeros. El Puerto De Santa María. Residentes en España.',
       'Nacional. Viajeros. El Puerto De Santa María. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. El Puerto De Santa María. Residentes en España.',
       'Nacional. Pernoctaciones. El Puerto De Santa María. Residentes en el extranjero.',
       'Nacional. Viajeros. Tarifa. Residentes en España.',
       'Nacional. Viajeros. Tarifa. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Tarifa. Residentes en España.',
       'Nacional. Pernoctaciones. Tarifa. Residentes en el extranjero.',
       'Nacional. Viajeros. Castellón De La Plana. Residentes en España.',
       'Nacional. Viajeros. Castellón De La Plana. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Castellón De La Plana. Residentes en España.',
       'Nacional. Pernoctaciones. Castellón De La Plana. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 12089-Peñiscola. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 12089-Peñiscola. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 12089-Peñiscola. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 12089-Peñiscola. Residentes en el extranjero.',
       'Ciudad Real. Viajero. Total categorías. Residentes en España. Dato base. ',
       'Ciudad Real. Viajero. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Ciudad Real. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Ciudad Real. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Viajeros. Córdoba. Residentes en España.',
       'Nacional. Viajeros. Córdoba. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Córdoba. Residentes en España.',
       'Nacional. Pernoctaciones. Córdoba. Residentes en el extranjero.',
       'Nacional. Viajeros. Coruña. Residentes en España.',
       'Nacional. Viajeros. Coruña. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Coruña. Residentes en España.',
       'Nacional. Pernoctaciones. Coruña. Residentes en el extranjero.',
       'Nacional. Viajeros. Santiago De Compostela. Residentes en España.',
       'Nacional. Viajeros. Santiago De Compostela. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Santiago De Compostela. Residentes en España.',
       'Nacional. Pernoctaciones. Santiago De Compostela. Residentes en el extranjero.',
       'Nacional. Viajeros. Cuenca. Residentes en España.',
       'Nacional. Viajeros. Cuenca. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cuenca. Residentes en España.',
       'Nacional. Pernoctaciones. Cuenca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 17095-Lloret de Mar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 17095-Lloret de Mar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 17095-Lloret de Mar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 17095-Lloret de Mar. Residentes en el extranjero.',
       'Nacional. Viajeros. Granada. Residentes en España.',
       'Nacional. Viajeros. Granada. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Granada. Residentes en España.',
       'Nacional. Pernoctaciones. Granada. Residentes en el extranjero.',
       'Sigüenza. Viajero. Total categorías. Residentes en España. Dato base. ',
       'Sigüenza. Viajero. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Sigüenza. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Sigüenza. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Viajeros. Donostia-San Sebastián. Residentes en España.',
       'Nacional. Viajeros. Donostia-San Sebastián. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Donostia-San Sebastián. Residentes en España.',
       'Nacional. Pernoctaciones. Donostia-San Sebastián. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22054-Benasque. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22054-Benasque. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22054-Benasque. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22054-Benasque. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22130-Jaca. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22130-Jaca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22130-Jaca. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22130-Jaca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22204-Sallent de Gállego. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22204-Sallent de Gállego. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22204-Sallent de Gállego. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22204-Sallent de Gállego. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 23028-Cazorla. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 23028-Cazorla. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 23028-Cazorla. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 23028-Cazorla. Residentes en el extranjero.',
       'Nacional. Viajeros. León. Residentes en España.',
       'Nacional. Viajeros. León. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. León. Residentes en España.',
       'Nacional. Pernoctaciones. León. Residentes en el extranjero.',
       'Viajero. Total categorías. Ponferrada. Residentes en España. Dato base. ',
       'Viajero. Total categorías. Ponferrada. Residentes en el Extranjero. Dato base. ',
       'Pernoctaciones. Total categorías. Ponferrada. Residentes en España. Dato base. ',
       'Pernoctaciones. Total categorías. Ponferrada. Residentes en el Extranjero. Dato base. ',
       'Nacional. Establecimientos hoteleros. Viajeros. 25025-Naut Arant. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 25025-Naut Arant. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25025-Naut Arant. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25025-Naut Arant. Residentes en el extranjero.',
       'Nacional. Viajeros. Lleida. Residentes en España.',
       'Nacional. Viajeros. Lleida. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Lleida. Residentes en España.',
       'Nacional. Pernoctaciones. Lleida. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 25243-Vielha e Mijaran. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 25243-Vielha e Mijaran. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25243-Vielha e Mijaran. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25243-Vielha e Mijaran. Residentes en el extranjero.',
       'Nacional. Viajeros. Logroño. Residentes en España.',
       'Nacional. Viajeros. Logroño. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Logroño. Residentes en España.',
       'Nacional. Pernoctaciones. Logroño. Residentes en el extranjero.',
       'Nacional. Viajeros. Lugo. Residentes en España.',
       'Nacional. Viajeros. Lugo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Lugo. Residentes en España.',
       'Nacional. Pernoctaciones. Lugo. Residentes en el extranjero.',
       'Nacional. Viajeros. Ribadeo. Residentes en España.',
       'Nacional. Viajeros. Ribadeo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Ribadeo. Residentes en España.',
       'Nacional. Pernoctaciones. Ribadeo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 27066-Viveiro. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 27066-Viveiro. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 27066-Viveiro. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 27066-Viveiro. Residentes en el extranjero.',
       'Nacional. Viajeros. Madrid. Residentes en España.',
       'Nacional. Viajeros. Madrid. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Madrid. Residentes en España.',
       'Nacional. Pernoctaciones. Madrid. Residentes en el extranjero.',
       'Antequera. Viajero. Total categorías. Residentes en España. Dato base. ',
       'Antequera. Viajero. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Antequera. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Antequera. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Viajeros. Benalmádena. Residentes en España.',
       'Nacional. Viajeros. Benalmádena. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Benalmádena. Residentes en España.',
       'Nacional. Pernoctaciones. Benalmádena. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 29051-Estepona. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 29051-Estepona. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 29051-Estepona. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 29051-Estepona. Residentes en el extranjero.',
       'Nacional. Viajeros. Fuengirola. Residentes en España.',
       'Nacional. Viajeros. Fuengirola. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Fuengirola. Residentes en España.',
       'Nacional. Pernoctaciones. Fuengirola. Residentes en el extranjero.',
       'Nacional. Viajeros. Málaga. Residentes en España.',
       'Nacional. Viajeros. Málaga. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Málaga. Residentes en España.',
       'Nacional. Pernoctaciones. Málaga. Residentes en el extranjero.',
       'Nacional. Viajeros. Marbella. Residentes en España.',
       'Nacional. Viajeros. Marbella. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Marbella. Residentes en España.',
       'Nacional. Pernoctaciones. Marbella. Residentes en el extranjero.',
       'Nacional. Viajeros. Nerja. Residentes en España.',

In [82]:
hotels_nights = hotels_nights.loc[hotels_nights.Nombre.str.contains('Pernoctaciones', regex = True)]
hotels_nights.Nombre.unique()

array(['Nacional. Pernoctaciones. Vitoria-Gastéiz. Residentes en España.',
       'Nacional. Pernoctaciones. Vitoria-Gastéiz. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Albacete. Residentes en España.',
       'Nacional. Pernoctaciones. Albacete. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Alicante. Residentes en España.',
       'Nacional. Pernoctaciones. Alicante. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Benidorm. Residentes en España.',
       'Nacional. Pernoctaciones. Benidorm. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 03063-Denia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 03063-Denia. Residentes en el extranjero.',
       'Pernoctaciones. Total categorías. Elche/Elx. Residentes en España. Dato base. ',
       'Pernoctaciones. Total categorías. Elche/Elx. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Torrevieja. Residentes en España.',
       'Nacional. Pernoctaciones. Torrevieja. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Almería. Residentes en España.',
       'Nacional. Pernoctaciones. Almería. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Mojácar. Residentes en España.',
       'Nacional. Pernoctaciones. Mojácar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 04066-Níjar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 04066-Níjar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Roquetas De Mar. Residentes en España.',
       'Nacional. Pernoctaciones. Roquetas De Mar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Ávila. Residentes en España.',
       'Nacional. Pernoctaciones. Ávila. Residentes en el extranjero.',
       'Pernoctaciones. Total categorías. Badajoz. Residentes en España. Dato base. ',
       'Pernoctaciones. Total categorías. Badajoz. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Mérida. Residentes en España.',
       'Nacional. Pernoctaciones. Mérida. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Calviá. Residentes en España.',
       'Nacional. Pernoctaciones. Calviá. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07014-Capdepera. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07014-Capdepera. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Palma De Mallorca. Residentes en España.',
       'Nacional. Pernoctaciones. Palma De Mallorca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07051-Sant Llorenç des Cardassar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07051-Sant Llorenç des Cardassar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Barcelona. Residentes en España.',
       'Nacional. Pernoctaciones. Barcelona. Residentes en el extranjero.',
       'Sitges. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Sitges. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Burgos. Residentes en España.',
       'Nacional. Pernoctaciones. Burgos. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cáceres. Residentes en España.',
       'Nacional. Pernoctaciones. Cáceres. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10148-Plasencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10148-Plasencia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10195-Trujillo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10195-Trujillo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Algeciras. Residentes en España.',
       'Nacional. Pernoctaciones. Algeciras. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Arcos De La Frontera. Residentes en España.',
       'Nacional. Pernoctaciones. Arcos De La Frontera. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cádiz. Residentes en España.',
       'Nacional. Pernoctaciones. Cádiz. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Jerez De La Frontera. Residentes en España.',
       'Nacional. Pernoctaciones. Jerez De La Frontera. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. El Puerto De Santa María. Residentes en España.',
       'Nacional. Pernoctaciones. El Puerto De Santa María. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Tarifa. Residentes en España.',
       'Nacional. Pernoctaciones. Tarifa. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Castellón De La Plana. Residentes en España.',
       'Nacional. Pernoctaciones. Castellón De La Plana. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 12089-Peñiscola. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 12089-Peñiscola. Residentes en el extranjero.',
       'Ciudad Real. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Ciudad Real. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Córdoba. Residentes en España.',
       'Nacional. Pernoctaciones. Córdoba. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Coruña. Residentes en España.',
       'Nacional. Pernoctaciones. Coruña. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Santiago De Compostela. Residentes en España.',
       'Nacional. Pernoctaciones. Santiago De Compostela. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cuenca. Residentes en España.',
       'Nacional. Pernoctaciones. Cuenca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 17095-Lloret de Mar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 17095-Lloret de Mar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Granada. Residentes en España.',
       'Nacional. Pernoctaciones. Granada. Residentes en el extranjero.',
       'Sigüenza. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Sigüenza. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Donostia-San Sebastián. Residentes en España.',
       'Nacional. Pernoctaciones. Donostia-San Sebastián. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22054-Benasque. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22054-Benasque. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22130-Jaca. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22130-Jaca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22204-Sallent de Gállego. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22204-Sallent de Gállego. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 23028-Cazorla. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 23028-Cazorla. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. León. Residentes en España.',
       'Nacional. Pernoctaciones. León. Residentes en el extranjero.',
       'Pernoctaciones. Total categorías. Ponferrada. Residentes en España. Dato base. ',
       'Pernoctaciones. Total categorías. Ponferrada. Residentes en el Extranjero. Dato base. ',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25025-Naut Arant. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25025-Naut Arant. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Lleida. Residentes en España.',
       'Nacional. Pernoctaciones. Lleida. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25243-Vielha e Mijaran. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25243-Vielha e Mijaran. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Logroño. Residentes en España.',
       'Nacional. Pernoctaciones. Logroño. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Lugo. Residentes en España.',
       'Nacional. Pernoctaciones. Lugo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Ribadeo. Residentes en España.',
       'Nacional. Pernoctaciones. Ribadeo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 27066-Viveiro. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 27066-Viveiro. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Madrid. Residentes en España.',
       'Nacional. Pernoctaciones. Madrid. Residentes en el extranjero.',
       'Antequera. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Antequera. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Benalmádena. Residentes en España.',
       'Nacional. Pernoctaciones. Benalmádena. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 29051-Estepona. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 29051-Estepona. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Fuengirola. Residentes en España.',
       'Nacional. Pernoctaciones. Fuengirola. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Málaga. Residentes en España.',
       'Nacional. Pernoctaciones. Málaga. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Marbella. Residentes en España.',
       'Nacional. Pernoctaciones. Marbella. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Nerja. Residentes en España.',
       'Nacional. Pernoctaciones. Nerja. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Ronda. Residentes en España.',
       'Nacional. Pernoctaciones. Ronda. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Torremolinos. Residentes en España.',
       'Nacional. Pernoctaciones. Torremolinos. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cartagena. Residentes en España.',
       'Nacional. Pernoctaciones. Cartagena. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Murcia. Residentes en España.',
       'Nacional. Pernoctaciones. Murcia. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Pamplona. Residentes en España.',
       'Nacional. Pernoctaciones. Pamplona. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 32054-Ourense. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 32054-Ourense. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33012-Cangas de Onís. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33012-Cangas de Onís. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Gijón. Residentes en España.',
       'Nacional. Pernoctaciones. Gijón. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Llanes. Residentes en España.',
       'Nacional. Pernoctaciones. Llanes. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Oviedo. Residentes en España.',
       'Nacional. Pernoctaciones. Oviedo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33076-Villaviciosa. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33076-Villaviciosa. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 34120-Palencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 34120-Palencia. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Mogán. Residentes en España.',
       'Nacional. Pernoctaciones. Mogán. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Pajara. Residentes en España.',
       'Nacional. Pernoctaciones. Pajara. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Las Palmas De Gran Canaria. Residentes en España.',
       'Nacional. Pernoctaciones. Las Palmas De Gran Canaria. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. San Bartolomé De Tirajana. Residentes en España.',
       'Nacional. Pernoctaciones. San Bartolomé De Tirajana. Residentes en el extranjero.',
       'Teguise. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Teguise. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Tias. Residentes en España.',
       'Nacional. Pernoctaciones. Tias. Residentes en el extranjero.',
       'Yaiza. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Yaiza. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36022-Grove (O). Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36022-Grove (O). Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36051-Sanxenxo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36051-Sanxenxo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Vigo. Residentes en España.',
       'Nacional. Pernoctaciones. Vigo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Salamanca. Residentes en España.',
       'Nacional. Pernoctaciones. Salamanca. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Adeje. Residentes en España.',
       'Nacional. Pernoctaciones. Adeje. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Arona. Residentes en España.',
       'Nacional. Pernoctaciones. Arona. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Puerto De La Cruz. Residentes en España.',
       'Nacional. Pernoctaciones. Puerto De La Cruz. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Santa Cruz De Tenerife. Residentes en España.',
       'Nacional. Pernoctaciones. Santa Cruz De Tenerife. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Santander. Residentes en España.',
       'Nacional. Pernoctaciones. Santander. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Segovia. Residentes en España.',
       'Nacional. Pernoctaciones. Segovia. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Sevilla. Residentes en España.',
       'Nacional. Pernoctaciones. Sevilla. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Soria. Residentes en España.',
       'Nacional. Pernoctaciones. Soria. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43038-Cambrils. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43038-Cambrils. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Tarragona. Residentes en España.',
       'Nacional. Pernoctaciones. Tarragona. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43905-Salou. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43905-Salou. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Albarracín. Residentes en España.',
       'Nacional. Pernoctaciones. Albarracín. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Teruel. Residentes en España.',
       'Nacional. Pernoctaciones. Teruel. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Toledo. Residentes en España.',
       'Nacional. Pernoctaciones. Toledo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Gandía. Residentes en España.',
       'Nacional. Pernoctaciones. Gandía. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Valencia. Residentes en España.',
       'Nacional. Pernoctaciones. Valencia. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Valladolid. Residentes en España.',
       'Nacional. Pernoctaciones. Valladolid. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Bilbao. Residentes en España.',
       'Nacional. Pernoctaciones. Bilbao. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 49021-Benavente. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 49021-Benavente. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Zamora. Residentes en España.',
       'Nacional. Pernoctaciones. Zamora. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Zaragoza. Residentes en España.',
       'Nacional. Pernoctaciones. Zaragoza. Residentes en el extranjero.'],
      dtype=object)

In [83]:
hotels_nights_full = normalize_json(hotels_nights)
hotels_nights_full.head()

,info,Fecha,Valor,Notas
0,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-06-01,38807.0,NaN
1,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-05-01,39187.0,NaN
2,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-04-01,39147.0,NaN
3,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-03-01,36476.0,NaN
4,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-02-01,30212.0,NaN

In [84]:
hotels_nights_full['info'].unique()

array(['Nacional. Pernoctaciones. Vitoria-Gastéiz. Residentes en España.',
       'Nacional. Pernoctaciones. Vitoria-Gastéiz. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Albacete. Residentes en España.',
       'Nacional. Pernoctaciones. Albacete. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Alicante. Residentes en España.',
       'Nacional. Pernoctaciones. Alicante. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Benidorm. Residentes en España.',
       'Nacional. Pernoctaciones. Benidorm. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 03063-Denia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 03063-Denia. Residentes en el extranjero.',
       'Pernoctaciones. Total categorías. Elche/Elx. Residentes en España. Dato base. ',
       'Pernoctaciones. Total categorías. Elche/Elx. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Torrevieja. Residentes en España.',
       'Nacional. Pernoctaciones. Torrevieja. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Almería. Residentes en España.',
       'Nacional. Pernoctaciones. Almería. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Mojácar. Residentes en España.',
       'Nacional. Pernoctaciones. Mojácar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 04066-Níjar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 04066-Níjar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Roquetas De Mar. Residentes en España.',
       'Nacional. Pernoctaciones. Roquetas De Mar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Ávila. Residentes en España.',
       'Nacional. Pernoctaciones. Ávila. Residentes en el extranjero.',
       'Pernoctaciones. Total categorías. Badajoz. Residentes en España. Dato base. ',
       'Pernoctaciones. Total categorías. Badajoz. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Mérida. Residentes en España.',
       'Nacional. Pernoctaciones. Mérida. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Calviá. Residentes en España.',
       'Nacional. Pernoctaciones. Calviá. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07014-Capdepera. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07014-Capdepera. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Palma De Mallorca. Residentes en España.',
       'Nacional. Pernoctaciones. Palma De Mallorca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07051-Sant Llorenç des Cardassar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07051-Sant Llorenç des Cardassar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Barcelona. Residentes en España.',
       'Nacional. Pernoctaciones. Barcelona. Residentes en el extranjero.',
       'Sitges. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Sitges. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Burgos. Residentes en España.',
       'Nacional. Pernoctaciones. Burgos. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cáceres. Residentes en España.',
       'Nacional. Pernoctaciones. Cáceres. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10148-Plasencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10148-Plasencia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10195-Trujillo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10195-Trujillo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Algeciras. Residentes en España.',
       'Nacional. Pernoctaciones. Algeciras. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Arcos De La Frontera. Residentes en España.',
       'Nacional. Pernoctaciones. Arcos De La Frontera. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cádiz. Residentes en España.',
       'Nacional. Pernoctaciones. Cádiz. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Jerez De La Frontera. Residentes en España.',
       'Nacional. Pernoctaciones. Jerez De La Frontera. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. El Puerto De Santa María. Residentes en España.',
       'Nacional. Pernoctaciones. El Puerto De Santa María. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Tarifa. Residentes en España.',
       'Nacional. Pernoctaciones. Tarifa. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Castellón De La Plana. Residentes en España.',
       'Nacional. Pernoctaciones. Castellón De La Plana. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 12089-Peñiscola. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 12089-Peñiscola. Residentes en el extranjero.',
       'Ciudad Real. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Ciudad Real. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Córdoba. Residentes en España.',
       'Nacional. Pernoctaciones. Córdoba. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Coruña. Residentes en España.',
       'Nacional. Pernoctaciones. Coruña. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Santiago De Compostela. Residentes en España.',
       'Nacional. Pernoctaciones. Santiago De Compostela. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cuenca. Residentes en España.',
       'Nacional. Pernoctaciones. Cuenca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 17095-Lloret de Mar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 17095-Lloret de Mar. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Granada. Residentes en España.',
       'Nacional. Pernoctaciones. Granada. Residentes en el extranjero.',
       'Sigüenza. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Sigüenza. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Donostia-San Sebastián. Residentes en España.',
       'Nacional. Pernoctaciones. Donostia-San Sebastián. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22054-Benasque. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22054-Benasque. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22130-Jaca. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22130-Jaca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22204-Sallent de Gállego. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22204-Sallent de Gállego. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 23028-Cazorla. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 23028-Cazorla. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. León. Residentes en España.',
       'Nacional. Pernoctaciones. León. Residentes en el extranjero.',
       'Pernoctaciones. Total categorías. Ponferrada. Residentes en España. Dato base. ',
       'Pernoctaciones. Total categorías. Ponferrada. Residentes en el Extranjero. Dato base. ',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25025-Naut Arant. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25025-Naut Arant. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Lleida. Residentes en España.',
       'Nacional. Pernoctaciones. Lleida. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25243-Vielha e Mijaran. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25243-Vielha e Mijaran. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Logroño. Residentes en España.',
       'Nacional. Pernoctaciones. Logroño. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Lugo. Residentes en España.',
       'Nacional. Pernoctaciones. Lugo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Ribadeo. Residentes en España.',
       'Nacional. Pernoctaciones. Ribadeo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 27066-Viveiro. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 27066-Viveiro. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Madrid. Residentes en España.',
       'Nacional. Pernoctaciones. Madrid. Residentes en el extranjero.',
       'Antequera. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Antequera. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Benalmádena. Residentes en España.',
       'Nacional. Pernoctaciones. Benalmádena. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 29051-Estepona. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 29051-Estepona. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Fuengirola. Residentes en España.',
       'Nacional. Pernoctaciones. Fuengirola. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Málaga. Residentes en España.',
       'Nacional. Pernoctaciones. Málaga. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Marbella. Residentes en España.',
       'Nacional. Pernoctaciones. Marbella. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Nerja. Residentes en España.',
       'Nacional. Pernoctaciones. Nerja. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Ronda. Residentes en España.',
       'Nacional. Pernoctaciones. Ronda. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Torremolinos. Residentes en España.',
       'Nacional. Pernoctaciones. Torremolinos. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Cartagena. Residentes en España.',
       'Nacional. Pernoctaciones. Cartagena. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Murcia. Residentes en España.',
       'Nacional. Pernoctaciones. Murcia. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Pamplona. Residentes en España.',
       'Nacional. Pernoctaciones. Pamplona. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 32054-Ourense. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 32054-Ourense. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33012-Cangas de Onís. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33012-Cangas de Onís. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Gijón. Residentes en España.',
       'Nacional. Pernoctaciones. Gijón. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Llanes. Residentes en España.',
       'Nacional. Pernoctaciones. Llanes. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Oviedo. Residentes en España.',
       'Nacional. Pernoctaciones. Oviedo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33076-Villaviciosa. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33076-Villaviciosa. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 34120-Palencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 34120-Palencia. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Mogán. Residentes en España.',
       'Nacional. Pernoctaciones. Mogán. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Pajara. Residentes en España.',
       'Nacional. Pernoctaciones. Pajara. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Las Palmas De Gran Canaria. Residentes en España.',
       'Nacional. Pernoctaciones. Las Palmas De Gran Canaria. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. San Bartolomé De Tirajana. Residentes en España.',
       'Nacional. Pernoctaciones. San Bartolomé De Tirajana. Residentes en el extranjero.',
       'Teguise. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Teguise. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Pernoctaciones. Tias. Residentes en España.',
       'Nacional. Pernoctaciones. Tias. Residentes en el extranjero.',
       'Yaiza. Pernoctaciones. Total categorías. Residentes en España. Dato base. ',
       'Yaiza. Pernoctaciones. Total categorías. Residentes en el Extranjero. Dato base. ',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36022-Grove (O). Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36022-Grove (O). Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36051-Sanxenxo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36051-Sanxenxo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Vigo. Residentes en España.',
       'Nacional. Pernoctaciones. Vigo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Salamanca. Residentes en España.',
       'Nacional. Pernoctaciones. Salamanca. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Adeje. Residentes en España.',
       'Nacional. Pernoctaciones. Adeje. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Arona. Residentes en España.',
       'Nacional. Pernoctaciones. Arona. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Puerto De La Cruz. Residentes en España.',
       'Nacional. Pernoctaciones. Puerto De La Cruz. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Santa Cruz De Tenerife. Residentes en España.',
       'Nacional. Pernoctaciones. Santa Cruz De Tenerife. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Santander. Residentes en España.',
       'Nacional. Pernoctaciones. Santander. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Segovia. Residentes en España.',
       'Nacional. Pernoctaciones. Segovia. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Sevilla. Residentes en España.',
       'Nacional. Pernoctaciones. Sevilla. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Soria. Residentes en España.',
       'Nacional. Pernoctaciones. Soria. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43038-Cambrils. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43038-Cambrils. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Tarragona. Residentes en España.',
       'Nacional. Pernoctaciones. Tarragona. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43905-Salou. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43905-Salou. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Albarracín. Residentes en España.',
       'Nacional. Pernoctaciones. Albarracín. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Teruel. Residentes en España.',
       'Nacional. Pernoctaciones. Teruel. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Toledo. Residentes en España.',
       'Nacional. Pernoctaciones. Toledo. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Gandía. Residentes en España.',
       'Nacional. Pernoctaciones. Gandía. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Valencia. Residentes en España.',
       'Nacional. Pernoctaciones. Valencia. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Valladolid. Residentes en España.',
       'Nacional. Pernoctaciones. Valladolid. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Bilbao. Residentes en España.',
       'Nacional. Pernoctaciones. Bilbao. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 49021-Benavente. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 49021-Benavente. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Zamora. Residentes en España.',
       'Nacional. Pernoctaciones. Zamora. Residentes en el extranjero.',
       'Nacional. Pernoctaciones. Zaragoza. Residentes en España.',
       'Nacional. Pernoctaciones. Zaragoza. Residentes en el extranjero.'],
      dtype=object)

Handle separately:
- Tourist sites with numbers on it
- Rows with info reversed

In [85]:
# Compare index with full dataset

In [86]:
info_reversed = hotels_nights_full.loc[~hotels_nights_full['info'].str.contains('Nacional')]
info_reversed.head()

,info,Fecha,Valor,Notas
660,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-06-01,20316.0,NaN
661,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-05-01,17332.0,NaN
662,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-04-01,17366.0,NaN
663,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-03-01,17031.0,NaN
664,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-02-01,14582.0,NaN

In [87]:
info_reversed['tourist_point'] = info_reversed['info'].apply(lambda x: x.split('.')[0])
info_reversed['origin'] = info_reversed['info'].apply(lambda x: x.split('.')[3])
info_reversed['stay_type'] = "Establecimiento hotelero"
info_reversed.head()

C:\Users\ameli\AppData\Local\Temp\ipykernel_26388\3645588170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info_reversed['tourist_point'] = info_reversed['info'].apply(lambda x: x.split('.')[0])
C:\Users\ameli\AppData\Local\Temp\ipykernel_26388\3645588170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info_reversed['origin'] = info_reversed['info'].apply(lambda x: x.split('.')[3])
C:\Users\ameli\AppData\Local\Temp\ipykernel_26388\3645588170.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info_reversed['stay_type'] = "Establecimiento hotelero"

,info,Fecha,Valor,Notas,tourist_point,origin,stay_type
660,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-06-01,20316.0,NaN,Pernoctaciones,Residentes en España,Establecimiento hotelero
661,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-05-01,17332.0,NaN,Pernoctaciones,Residentes en España,Establecimiento hotelero
662,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-04-01,17366.0,NaN,Pernoctaciones,Residentes en España,Establecimiento hotelero
663,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-03-01,17031.0,NaN,Pernoctaciones,Residentes en España,Establecimiento hotelero
664,Pernoctaciones. Total categorías. Elche/Elx. R...,2022-02-01,14582.0,NaN,Pernoctaciones,Residentes en España,Establecimiento hotelero

In [88]:
info_reversed = info_reversed[info_reversed['tourist_point'] != 'Pernoctaciones']
info_reversed.head()

,info,Fecha,Valor,Notas,tourist_point,origin,stay_type
2503,Sitges. Pernoctaciones. Total categorías. Resi...,2022-06-01,19813.0,NaN,Sitges,Residentes en España,Establecimiento hotelero
2504,Sitges. Pernoctaciones. Total categorías. Resi...,2022-05-01,19764.0,NaN,Sitges,Residentes en España,Establecimiento hotelero
2505,Sitges. Pernoctaciones. Total categorías. Resi...,2022-04-01,20620.0,NaN,Sitges,Residentes en España,Establecimiento hotelero
2506,Sitges. Pernoctaciones. Total categorías. Resi...,2022-03-01,13160.0,NaN,Sitges,Residentes en España,Establecimiento hotelero
2507,Sitges. Pernoctaciones. Total categorías. Resi...,2022-02-01,9639.0,NaN,Sitges,Residentes en España,Establecimiento hotelero

In [89]:
info_reversed_idx = info_reversed.index
info_reversed.head()

,info,Fecha,Valor,Notas,tourist_point,origin,stay_type
2503,Sitges. Pernoctaciones. Total categorías. Resi...,2022-06-01,19813.0,NaN,Sitges,Residentes en España,Establecimiento hotelero
2504,Sitges. Pernoctaciones. Total categorías. Resi...,2022-05-01,19764.0,NaN,Sitges,Residentes en España,Establecimiento hotelero
2505,Sitges. Pernoctaciones. Total categorías. Resi...,2022-04-01,20620.0,NaN,Sitges,Residentes en España,Establecimiento hotelero
2506,Sitges. Pernoctaciones. Total categorías. Resi...,2022-03-01,13160.0,NaN,Sitges,Residentes en España,Establecimiento hotelero
2507,Sitges. Pernoctaciones. Total categorías. Resi...,2022-02-01,9639.0,NaN,Sitges,Residentes en España,Establecimiento hotelero

Hotels nights num

In [90]:
hotels_nights_num = hotels_nights_full.loc[hotels_nights_full['info'].str.contains('[0-9]')]
hotels_nights_num_idx = hotels_nights_num.index
hotels_nights_full = hotels_nights_full.drop(hotels_nights_num_idx)

In [91]:
hotels_nights_num['origin'] = hotels_nights_num['info'].apply(lambda x: x.split('.')[4])
hotels_nights_num['tourist_point'] = hotels_nights_num['info'].apply(lambda x: x.split('.')[3])
hotels_nights_num['stay_type'] = hotels_nights_num['info'].apply(lambda x: x.split('.')[1])

In [92]:
hotels_nights_num.head()

,info,Fecha,Valor,Notas,origin,tourist_point,stay_type
528,Nacional. Establecimientos hoteleros. Pernocta...,2022-06-01,34828.0,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros
529,Nacional. Establecimientos hoteleros. Pernocta...,2022-05-01,29564.0,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros
530,Nacional. Establecimientos hoteleros. Pernocta...,2022-04-01,25132.0,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros
531,Nacional. Establecimientos hoteleros. Pernocta...,2022-03-01,NaN,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros
532,Nacional. Establecimientos hoteleros. Pernocta...,2022-02-01,NaN,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros

In [93]:
hotels_nights_num.head()

,info,Fecha,Valor,Notas,origin,tourist_point,stay_type
528,Nacional. Establecimientos hoteleros. Pernocta...,2022-06-01,34828.0,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros
529,Nacional. Establecimientos hoteleros. Pernocta...,2022-05-01,29564.0,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros
530,Nacional. Establecimientos hoteleros. Pernocta...,2022-04-01,25132.0,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros
531,Nacional. Establecimientos hoteleros. Pernocta...,2022-03-01,NaN,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros
532,Nacional. Establecimientos hoteleros. Pernocta...,2022-02-01,NaN,NaN,Residentes en España,03063-Denia,Establecimientos hoteleros

In [94]:
hotels_nights_num['tourist_point'] = hotels_nights_num['tourist_point'].apply(lambda x: x.split('-')[1])

In [95]:
hotels_nights_num.head()

,info,Fecha,Valor,Notas,origin,tourist_point,stay_type
528,Nacional. Establecimientos hoteleros. Pernocta...,2022-06-01,34828.0,NaN,Residentes en España,Denia,Establecimientos hoteleros
529,Nacional. Establecimientos hoteleros. Pernocta...,2022-05-01,29564.0,NaN,Residentes en España,Denia,Establecimientos hoteleros
530,Nacional. Establecimientos hoteleros. Pernocta...,2022-04-01,25132.0,NaN,Residentes en España,Denia,Establecimientos hoteleros
531,Nacional. Establecimientos hoteleros. Pernocta...,2022-03-01,NaN,NaN,Residentes en España,Denia,Establecimientos hoteleros
532,Nacional. Establecimientos hoteleros. Pernocta...,2022-02-01,NaN,NaN,Residentes en España,Denia,Establecimientos hoteleros

Hotels night full

In [96]:
hotels_nights_full = hotels_nights_full.drop(info_reversed_idx)
hotels_nights_full['origin'] = hotels_nights_full['info'].apply(lambda x: x.split('.')[3])
hotels_nights_full['tourist_point'] = hotels_nights_full['info'].apply(lambda x: x.split('.')[2])
hotels_nights_full['stay_type'] = "Establecimientos hoteleros"

In [97]:
hotels_nights_full.head()

,info,Fecha,Valor,Notas,origin,tourist_point,stay_type
0,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-06-01,38807.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
1,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-05-01,39187.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
2,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-04-01,39147.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
3,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-03-01,36476.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
4,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-02-01,30212.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros

In [98]:
hotels_nights_combined = pd.concat([hotels_nights_full, hotels_nights_num, info_reversed]).reset_index(drop=True)
hotels_nights_combined

,info,Fecha,Valor,Notas,origin,tourist_point,stay_type
0,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-06-01,38807.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
1,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-05-01,39187.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
2,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-04-01,39147.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
3,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-03-01,36476.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
4,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-02-01,30212.0,NaN,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
...,...,...,...,...,...,...,...
13950,Yaiza. Pernoctaciones. Total categorías. Resid...,2017-05-01,372955.0,NaN,Residentes en el Extranjero,Yaiza,Establecimiento hotelero
13951,Yaiza. Pernoctaciones. Total categorías. Resid...,2017-04-01,411665.0,NaN,Residentes en el Extranjero,Yaiza,Establecimiento hotelero
13952,Yaiza. Pernoctaciones. Total categorías. Resid...,2017-03-01,386704.0,NaN,Residentes en el Extranjero,Yaiza,Establecimiento hotelero
13953,Yaiza. Pernoctaciones. Total categorías. Resid...,2017-02-01,348037.0,NaN,Residentes en el Extranjero,Yaiza,Establecimiento hotelero
13954,Yaiza. Pernoctaciones. Total categorías. Resid...,2017-01-01,363440.0,NaN,Residentes en el Extranjero,Yaiza,Establecimiento hotelero

In [99]:
hotels_nights_combined.shape

(13955, 7)

In [100]:
missing_values = hotels_nights_combined.loc[hotels_nights_combined['Valor'].isna()]
missing_values['tourist_point'].value_counts().sort_values(ascending = False).head(20)

 Torrevieja                   116
Villaviciosa                   89
Palencia                       70
Benavente                      68
Cambrils                       65
Salou                          62
Capdepera                      62
Sant Llorenç des Cardassar     60
Estepona                       56
 Gandía                        52
Grove (O)                      44
Antequera                      42
Denia                          42
 Mojácar                       41
Sallent de Gállego             40
Sanxenxo                       40
 Llanes                        39
Cangas de Onís                 37
Naut Arant                     36
Viveiro                        36
Name: tourist_point, dtype: int64

In [101]:
nan_df = pd.DataFrame()

nan_df['missing_values'] = missing_values['tourist_point'].value_counts()
nan_df['total_values'] = hotels_nights_combined.tourist_point.value_counts()
nan_df['percentage_nan'] = round((missing_values['tourist_point'].value_counts() / hotels_nights_combined.tourist_point.value_counts())*100, 2)

display(nan_df)

              missing_values  total_values  percentage_nan
 Torrevieja              116           132           87.88
Villaviciosa              89           127           70.08
Palencia                  70           132           53.03
Benavente                 68           132           51.52
Cambrils                  65           131           49.62
...                      ...           ...             ...
 Pamplona                  3           131            2.29
 Ronda                     3           131            2.29
 Marbella                  3           131            2.29
 León                      3           131            2.29
 Segovia                   3           131            2.29

[106 rows x 3 columns]

In [102]:
nan_filtered = nan_df[nan_df['percentage_nan'] > 10]
display(nan_filtered)

                            missing_values  total_values  percentage_nan
 Torrevieja                            116           132           87.88
Villaviciosa                            89           127           70.08
Palencia                                70           132           53.03
Benavente                               68           132           51.52
Cambrils                                65           131           49.62
Salou                                   62           132           46.97
Capdepera                               62           132           46.97
Sant Llorenç des Cardassar              60           128           46.88
Estepona                                56           132           42.42
 Gandía                                 52           132           39.39
Grove (O)                               44           130           33.85
Antequera                               42           132           31.82
Denia                                   42           132           31.82
 Mojácar                                41           131           31.30
Sanxenxo                                40           130           30.77
Sallent de Gállego                      40           132           30.30
 Llanes                                 39           131           29.77
Cangas de Onís                          37           131           28.24
Naut Arant                              36           130           27.69
Viveiro                                 36           131           27.48
 Calviá                                 34           132           25.76
Cazorla                                 33           131           25.19
 Ponferrada                             30           132           22.73
 Roquetas De Mar                        28           132           21.21
 Algeciras                              28           132           21.21
 Arcos De La Frontera                   28           132           21.21
Lloret de Mar                           26           132           19.70
Benasque                                25           130           19.23
 Benalmádena                            24           132           18.18
Jaca                                    22           132           16.67
 Nerja                                  20           132           15.15
Peñiscola                               19           131           14.50
 Ribadeo                                18           132           13.64
 Tias                                   18           132           13.64
Teguise                                 18           132           13.64
 Tarragona                              16           132           12.12
 Tarifa                                 16           132           12.12
Sigüenza                                15           131           11.45
 Torremolinos                           15           131           11.45
Plasencia                               14           132           10.61
Níjar                                   12           132            9.09
Vielha e Mijaran                        11           131            8.40
 Fuengirola                             11           131            8.40
 Albarracín                             11           131            8.40
Sitges                                  10           132            7.58
Yaiza                                    9           131            6.87
Trujillo                                 8           132            6.06
 Elche/Elx                               8           132            6.06
 Santa Cruz De Tenerife                  8           132            6.06
 Lleida                                  8           132            6.06

In [103]:
nan_city_name = list(nan_filtered.index)
print(nan_city_name)

[' Torrevieja', 'Villaviciosa', 'Palencia', 'Benavente', 'Cambrils', 'Salou', 'Capdepera', 'Sant Llorenç des Cardassar', 'Estepona', ' Gandía', 'Grove (O)', 'Antequera', 'Denia', ' Mojácar', 'Sanxenxo', 'Sallent de Gállego', ' Llanes', 'Cangas de Onís', 'Naut Arant', 'Viveiro', ' Calviá', 'Cazorla', ' Ponferrada', ' Roquetas De Mar', ' Algeciras', ' Arcos De La Frontera', 'Lloret de Mar', 'Benasque', ' Benalmádena', 'Jaca', ' Nerja', 'Peñiscola', ' Ribadeo', ' Tias', 'Teguise', ' Tarragona', ' Tarifa', 'Sigüenza', ' Torremolinos', 'Plasencia', 'Níjar', 'Vielha e Mijaran', ' Fuengirola', ' Albarracín', 'Sitges', 'Yaiza', 'Trujillo', ' Elche/Elx', ' Santa Cruz De Tenerife', ' Lleida']

In [104]:
hotels_nights_combined = hotels_nights_combined[hotels_nights_combined.
                                                tourist_point.isin(nan_city_name) == False]

hotels_nights_combined = hotels_nights_combined.fillna(0)
hotels_nights_combined.isna().sum()

info             0
Fecha            0
Valor            0
Notas            0
origin           0
tourist_point    0
stay_type        0
dtype: int64

In [105]:
hotels_nights_combined.head()

,info,Fecha,Valor,Notas,origin,tourist_point,stay_type
0,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-06-01,38807.0,0,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
1,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-05-01,39187.0,0,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
2,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-04-01,39147.0,0,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
3,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-03-01,36476.0,0,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros
4,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,2022-02-01,30212.0,0,Residentes en España,Vitoria-Gastéiz,Establecimientos hoteleros

In [106]:
hotels_nights_combined = hotels_nights_combined.drop(['info', 'Notas'], axis= 1)
hotels_nights_combined = hotels_nights_combined.reindex(columns = ['stay_type', 'tourist_point', 'Valor', 'origin', 'Fecha'])
hotels_nights_combined = hotels_nights_combined.rename(columns = {'Valor':'value', 'Fecha':'date'})
hotels_nights_combined.head()

,stay_type,tourist_point,value,origin,date
0,Establecimientos hoteleros,Vitoria-Gastéiz,38807.0,Residentes en España,2022-06-01
1,Establecimientos hoteleros,Vitoria-Gastéiz,39187.0,Residentes en España,2022-05-01
2,Establecimientos hoteleros,Vitoria-Gastéiz,39147.0,Residentes en España,2022-04-01
3,Establecimientos hoteleros,Vitoria-Gastéiz,36476.0,Residentes en España,2022-03-01
4,Establecimientos hoteleros,Vitoria-Gastéiz,30212.0,Residentes en España,2022-02-01

In [107]:
file_name = 'hotels_nights.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

num_tur_origin_full.to_excel(path+file_name)

##### Hotels overview

In [108]:
hotels_overview.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,EOT2971,Nacional. Número de establecimientos abiertos ...,244,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,EOT24665,Vitoria-Gasteiz. Número de habitaciones estima...,264,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,EOT3043,Nacional. Número de plazas estimadas. Vitoria-...,245,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,EOT3115,Nacional. Grado de ocupación por plazas. Vitor...,101,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,EOT11585,Nacional. Grado de ocupación por plazas en fin...,101,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [109]:
hotels_overview.Nombre.unique()

array(['Nacional. Número de establecimientos abiertos estimados. Vitoria-Gastéiz.',
       'Vitoria-Gasteiz. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Vitoria-Gastéiz.',
       'Nacional. Grado de ocupación por plazas. Vitoria-Gastéiz.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 01059-Vitoria-Gastéiz.',
       'Nacional. Grado de ocupación por habitaciones. Vitoria-Gastéiz.',
       'Nacional. Personal empleado. Vitoria-Gastéiz.',
       'Nacional. Número de establecimientos abiertos estimados. Albacete.',
       'Albacete. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Albacete.',
       'Nacional. Grado de ocupación por plazas. Albacete.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 02003-Albacete.',
       'Nacional. Grado de ocupación por habitaciones. Albacete.',
       'Nacional. Personal empleado. Albacete.',
       'Nacional. Número de establecimientos abiertos estimados. Alicante.',
       'Alicante/Alacant. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Alicante.',
       'Nacional. Grado de ocupación por plazas. Alicante.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 03014-Alicante.',
       'Nacional. Grado de ocupación por habitaciones. Alicante.',
       'Nacional. Personal empleado. Alicante.',
       'Nacional. Número de establecimientos abiertos estimados. Benidorm.',
       'Benidorm. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Benidorm.',
       'Nacional. Grado de ocupación por plazas. Benidorm.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 03031-Benidorm.',
       'Nacional. Grado de ocupación por habitaciones. Benidorm.',
       'Nacional. Personal empleado. Benidorm.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 03063-Denia.',
       'Dénia. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 03063-Denia.',
       'Número de establecimientos abiertos estimados. Total categorías. Elche/Elx. Dato base. ',
       'Elche/Elx. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Número de plazas estimadas. Total categorías. Elche/Elx. Dato base. ',
       'Grado de ocupación por plazas. Total categorías. Elche/Elx. Dato base. ',
       'Grado de ocupación por plazas en fin de semana. Total categorías. Elche/Elx. Dato base. ',
       'Grado de ocupación por habitaciones. Total categorías. Elche/Elx. Dato base. ',
       'Personal empleado. Total categorías. Elche/Elx. Dato base. ',
       'Nacional. Número de establecimientos abiertos estimados. Torrevieja.',
       'Torrevieja. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Torrevieja.',
       'Nacional. Grado de ocupación por plazas. Torrevieja.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 03133-Torrevieja.',
       'Nacional. Grado de ocupación por habitaciones. Torrevieja.',
       'Nacional. Personal empleado. Torrevieja.',
       'Nacional. Número de establecimientos abiertos estimados. Almería.',
       'Almería. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Almería.',
       'Nacional. Grado de ocupación por plazas. Almería.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 04013-Almería.',
       'Nacional. Grado de ocupación por habitaciones. Almería.',
       'Nacional. Personal empleado. Almería.',
       'Nacional. Número de establecimientos abiertos estimados. Mojácar.',
       'Mojácar. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Mojácar.',
       'Nacional. Grado de ocupación por plazas. Mojácar.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 04064-Mojácar.',
       'Nacional. Grado de ocupación por habitaciones. Mojácar.',
       'Nacional. Personal empleado. Mojácar.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 04066-Níjar.',
       'Níjar. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 04066-Níjar.',
       'Nacional. Número de establecimientos abiertos estimados. Roquetas De Mar.',
       'Roquetas de Mar. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Roquetas De Mar.',
       'Nacional. Grado de ocupación por plazas. Roquetas De Mar.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 04079-Roquetas De Mar.',
       'Nacional. Grado de ocupación por habitaciones. Roquetas De Mar.',
       'Nacional. Personal empleado. Roquetas De Mar.',
       'Nacional. Número de establecimientos abiertos estimados. Ávila.',
       'Ávila. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Ávila.',
       'Nacional. Grado de ocupación por plazas. Ávila.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 05019-Ávila.',
       'Nacional. Grado de ocupación por habitaciones. Ávila.',
       'Nacional. Personal empleado. Ávila.',
       'Número de establecimientos abiertos estimados. Total categorías. Badajoz. Dato base. ',
       'Badajoz. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Número de plazas estimadas. Total categorías. Badajoz. Dato base. ',
       'Grado de ocupación por plazas. Total categorías. Badajoz. Dato base. ',
       'Grado de ocupación por plazas en fin de semana. Total categorías. Badajoz. Dato base. ',
       'Grado de ocupación por habitaciones. Total categorías. Badajoz. Dato base. ',
       'Personal empleado. Total categorías. Badajoz. Dato base. ',
       'Nacional. Número de establecimientos abiertos estimados. Mérida.',
       'Mérida. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Mérida.',
       'Nacional. Grado de ocupación por plazas. Mérida.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 06083-Mérida.',
       'Nacional. Grado de ocupación por habitaciones. Mérida.',
       'Nacional. Personal empleado. Mérida.',
       'Nacional. Número de establecimientos abiertos estimados. Calviá.',
       'Calvià. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Calviá.',
       'Nacional. Grado de ocupación por plazas. Calviá.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 07011-Calviá.',
       'Nacional. Grado de ocupación por habitaciones. Calviá.',
       'Nacional. Personal empleado. Calviá.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 07014-Capdepera.',
       'Capdepera. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 07014-Capdepera.',
       'Nacional. Número de establecimientos abiertos estimados. Palma De Mallorca.',
       'Palma. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Palma De Mallorca.',
       'Nacional. Grado de ocupación por plazas. Palma De Mallorca.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 07040-Palma De Mallorca.',
       'Nacional. Grado de ocupación por habitaciones. Palma De Mallorca.',
       'Nacional. Personal empleado. Palma De Mallorca.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 07051-Sant Llorenç des Cardassar.',
       'Sant Llorenç des Cardassar. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Número de establecimientos abiertos estimados. Barcelona.',
       'Barcelona. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Barcelona.',
       'Nacional. Grado de ocupación por plazas. Barcelona.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 08019-Barcelona.',
       'Nacional. Grado de ocupación por habitaciones. Barcelona.',
       'Nacional. Personal empleado. Barcelona.',
       'Sitges. Número de establecimientos abiertos estimados. Total categorías. Dato base. ',
       'Sitges. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Sitges. Número de plazas estimadas. Total categorías. Dato base. ',
       'Sitges. Grado de ocupación por plazas. Total categorías. Dato base. ',
       'Sitges. Grado de ocupación por plazas en fin de semana. Total categorías. Dato base. ',
       'Sitges. Grado de ocupación por habitaciones. Total categorías. Dato base. ',
       'Sitges. Personal empleado. Total categorías. Dato base. ',
       'Nacional. Número de establecimientos abiertos estimados. Burgos.',
       'Burgos. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Burgos.',
       'Nacional. Grado de ocupación por plazas. Burgos.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 09059-Burgos.',
       'Nacional. Grado de ocupación por habitaciones. Burgos.',
       'Nacional. Personal empleado. Burgos.',
       'Nacional. Número de establecimientos abiertos estimados. Cáceres.',
       'Cáceres. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Cáceres.',
       'Nacional. Grado de ocupación por plazas. Cáceres.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 10037-Cáceres.',
       'Nacional. Grado de ocupación por habitaciones. Cáceres.',
       'Nacional. Personal empleado. Cáceres.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 10148-Plasencia.',
       'Plasencia. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 10195-Trujillo.',
       'Trujillo. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 10195-Trujillo.',
       'Nacional. Número de establecimientos abiertos estimados. Algeciras.',
       'Algeciras. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Algeciras.',
       'Nacional. Grado de ocupación por plazas. Algeciras.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11004-Algeciras.',
       'Nacional. Grado de ocupación por habitaciones. Algeciras.',
       'Nacional. Personal empleado. Algeciras.',
       'Nacional. Número de establecimientos abiertos estimados. Arcos De La Frontera.',
       'Arcos de la Frontera. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Arcos De La Frontera.',
       'Nacional. Grado de ocupación por plazas. Arcos De La Frontera.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11006-Arcos De La Frontera.',
       'Nacional. Grado de ocupación por habitaciones. Arcos De La Frontera.',
       'Nacional. Personal empleado. Arcos De La Frontera.',
       'Nacional. Número de establecimientos abiertos estimados. Cádiz.',
       'Cádiz. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Cádiz.',
       'Nacional. Grado de ocupación por plazas. Cádiz.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11012-Cádiz.',
       'Nacional. Grado de ocupación por habitaciones. Cádiz.',
       'Nacional. Personal empleado. Cádiz.',
       'Nacional. Número de establecimientos abiertos estimados. Jerez De La Frontera.',
       'Jerez de la Frontera. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Jerez De La Frontera.',
       'Nacional. Grado de ocupación por plazas. Jerez De La Frontera.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11020-Jerez De La Frontera.',
       'Nacional. Grado de ocupación por habitaciones. Jerez De La Frontera.',
       'Nacional. Personal empleado. Jerez De La Frontera.',
       'Nacional. Número de establecimientos abiertos estimados. El Puerto De Santa María.',
       'Puerto de Santa María, El. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. El Puerto De Santa María.',
       'Nacional. Grado de ocupación por plazas. El Puerto De Santa María.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11027-El Puerto De Santa María.',
       'Nacional. Grado de ocupación por habitaciones. El Puerto De Santa María.',
       'Nacional. Personal empleado. El Puerto De Santa María.',
       'Nacional. Número de establecimientos abiertos estimados. Tarifa.',
       'Tarifa. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Tarifa.',
       'Nacional. Grado de ocupación por plazas. Tarifa.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11035-Tarifa.',
       'Nacional. Grado de ocupación por habitaciones. Tarifa.',
       'Nacional. Personal empleado. Tarifa.',
       'Nacional. Número de establecimientos abiertos estimados. Castellón De La Plana.',
       'Castelló de la Plana. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Castellón De La Plana.',
       'Nacional. Grado de ocupación por plazas. Castellón De La Plana.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 12040-Castellón De La Plana.',
       'Nacional. Grado de ocupación por habitaciones. Castellón De La Plana.',
       'Nacional. Personal empleado. Castellón De La Plana.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 12089-Peñiscola.',
       'Peníscola/Peñíscola. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 12089-Peñiscola.',
       'Ciudad Real. Número de establecimientos abiertos estimados. Total categorías. Dato base. ',
       'Ciudad Real. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Ciudad Real. Número de plazas estimadas. Total categorías. Dato base. ',
       'Ciudad Real. Grado de ocupación por plazas. Total categorías. Dato base. ',
       'Ciudad Real. Grado de ocupación por plazas en fin de semana. Total categorías. Dato base. ',
       'Ciudad Real. Grado de ocupación por habitaciones. Total categorías. Dato base. ',
       'Ciudad Real. Personal empleado. Total categorías. Dato base. ',
       'Nacional. Número de establecimientos abiertos estimados. Córdoba.',
       'Córdoba. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Córdoba.',
       'Nacional. Grado de ocupación por plazas. Córdoba.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 14021-Córdoba.',
       'Nacional. Grado de ocupación por habitaciones. Córdoba.',
       'Nacional. Personal empleado. Córdoba.',
       'Nacional. Número de establecimientos abiertos estimados. Coruña.',
       'Coruña, A. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Coruña.',
       'Nacional. Grado de ocupación por plazas. Coruña.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 15030-Coruña.',
       'Nacional. Grado de ocupación por habitaciones. Coruña.',
       'Nacional. Personal empleado. Coruña.',
       'Nacional. Número de establecimientos abiertos estimados. Santiago De Compostela.',
       'Santiago de Compostela. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Santiago De Compostela.',
       'Nacional. Grado de ocupación por plazas. Santiago De Compostela.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 15078-Santiago De Compostela.',
       'Nacional. Grado de ocupación por habitaciones. Santiago De Compostela.',
       'Nacional. Personal empleado. Santiago De Compostela.',
       'Nacional. Número de establecimientos abiertos estimados. Cuenca.',
       'Cuenca. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nacional. Número de plazas estimadas. Cuenca.',

In [110]:
hotels_overview_full = normalize_json(hotels_overview)

In [111]:
hotels_overview_full = hotels_overview_full.drop('Notas', axis = 1)
hotels_overview_full.head()
hotels_overview_full.shape

(48972, 3)

##### Extracting rows that don't contain 'national' in the first position of info cell

In [112]:
rows_no_national_first = hotels_overview_full.loc[~hotels_overview_full['info'].str.contains('Nacional')]
rows_no_national_first['info'].unique()
rows_no_national_first.shape

(10560, 3)

##### Extracting rows that don't contain cities or national in the first position of info cell

In [130]:
# %%writefile -a functions.py

def extract_rows(df, col_name):
    index_lst = []
    for i,v in enumerate(df[col_name]):
        v_splited = v.split('.')
        if 'Personal' in v_splited[0]:
            index_lst.append(i)
        if 'Número de ' in v_splited[0]:
            index_lst.append(i)
        elif 'Grado' in v_splited[0]:
            index_lst.append(i)
    return index_lst

In [131]:
rows_no_nat_city_first = extract_rows(rows_no_national_first, 'info')
rows_no_nat_city_first = rows_no_national_first.iloc[rows_no_nat_city_first]
rows_no_nat_city_first.shape

(198, 3)

In [132]:
# Droping last subset from rows_no_national_first
print('Rows_no_national - Before droping rows:', rows_no_national_first.shape)
rows_no_national_first = rows_no_national_first.drop(rows_no_nat_city_first.index)
print('Rows without national and cities:', rows_no_nat_city_first.shape)
print('Rows_no_national - After droping rows:', rows_no_national_first.shape)

Rows_no_national - Before droping rows: (9570, 3)
Rows without national and cities: (198, 3)
Rows_no_national - After droping rows: (9372, 3)

##### Extracting rows that contain national in the first position of info cell but have an extra value.

In [133]:
rows_extra_value = hotels_overview_full[hotels_overview_full['info'].str.contains('hoteleros')]
print('Rows_extra_value shape:', rows_extra_value.shape)

KeyError: 'info'

##### Droping subsets from main dataframe

In [117]:
index_lst = list(rows_extra_value.index) + list(rows_no_nat_city_first.index) + list(rows_no_national_first.index)
hotels_overview_full = hotels_overview_full.drop(index_lst, axis = 0)
print(hotels_overview_full.shape)

(28512, 3)

##### Now we're going to create columns for each subset, but first we still need to clean some numbers on tourist_point column.

In [118]:
hotels_overview_full['info'].unique()

array(['Nacional. Número de establecimientos abiertos estimados. Vitoria-Gastéiz.',
       'Nacional. Número de plazas estimadas. Vitoria-Gastéiz.',
       'Nacional. Grado de ocupación por plazas. Vitoria-Gastéiz.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 01059-Vitoria-Gastéiz.',
       'Nacional. Grado de ocupación por habitaciones. Vitoria-Gastéiz.',
       'Nacional. Personal empleado. Vitoria-Gastéiz.',
       'Nacional. Número de establecimientos abiertos estimados. Albacete.',
       'Nacional. Número de plazas estimadas. Albacete.',
       'Nacional. Grado de ocupación por plazas. Albacete.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 02003-Albacete.',
       'Nacional. Grado de ocupación por habitaciones. Albacete.',
       'Nacional. Personal empleado. Albacete.',
       'Nacional. Número de establecimientos abiertos estimados. Alicante.',
       'Nacional. Número de plazas estimadas. Alicante.',
       'Nacional. Grado de ocupación por plazas. Alicante.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 03014-Alicante.',
       'Nacional. Grado de ocupación por habitaciones. Alicante.',
       'Nacional. Personal empleado. Alicante.',
       'Nacional. Número de establecimientos abiertos estimados. Benidorm.',
       'Nacional. Número de plazas estimadas. Benidorm.',
       'Nacional. Grado de ocupación por plazas. Benidorm.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 03031-Benidorm.',
       'Nacional. Grado de ocupación por habitaciones. Benidorm.',
       'Nacional. Personal empleado. Benidorm.',
       'Nacional. Número de establecimientos abiertos estimados. Torrevieja.',
       'Nacional. Número de plazas estimadas. Torrevieja.',
       'Nacional. Grado de ocupación por plazas. Torrevieja.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 03133-Torrevieja.',
       'Nacional. Grado de ocupación por habitaciones. Torrevieja.',
       'Nacional. Personal empleado. Torrevieja.',
       'Nacional. Número de establecimientos abiertos estimados. Almería.',
       'Nacional. Número de plazas estimadas. Almería.',
       'Nacional. Grado de ocupación por plazas. Almería.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 04013-Almería.',
       'Nacional. Grado de ocupación por habitaciones. Almería.',
       'Nacional. Personal empleado. Almería.',
       'Nacional. Número de establecimientos abiertos estimados. Mojácar.',
       'Nacional. Número de plazas estimadas. Mojácar.',
       'Nacional. Grado de ocupación por plazas. Mojácar.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 04064-Mojácar.',
       'Nacional. Grado de ocupación por habitaciones. Mojácar.',
       'Nacional. Personal empleado. Mojácar.',
       'Nacional. Número de establecimientos abiertos estimados. Roquetas De Mar.',
       'Nacional. Número de plazas estimadas. Roquetas De Mar.',
       'Nacional. Grado de ocupación por plazas. Roquetas De Mar.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 04079-Roquetas De Mar.',
       'Nacional. Grado de ocupación por habitaciones. Roquetas De Mar.',
       'Nacional. Personal empleado. Roquetas De Mar.',
       'Nacional. Número de establecimientos abiertos estimados. Ávila.',
       'Nacional. Número de plazas estimadas. Ávila.',
       'Nacional. Grado de ocupación por plazas. Ávila.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 05019-Ávila.',
       'Nacional. Grado de ocupación por habitaciones. Ávila.',
       'Nacional. Personal empleado. Ávila.',
       'Nacional. Número de establecimientos abiertos estimados. Mérida.',
       'Nacional. Número de plazas estimadas. Mérida.',
       'Nacional. Grado de ocupación por plazas. Mérida.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 06083-Mérida.',
       'Nacional. Grado de ocupación por habitaciones. Mérida.',
       'Nacional. Personal empleado. Mérida.',
       'Nacional. Número de establecimientos abiertos estimados. Calviá.',
       'Nacional. Número de plazas estimadas. Calviá.',
       'Nacional. Grado de ocupación por plazas. Calviá.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 07011-Calviá.',
       'Nacional. Grado de ocupación por habitaciones. Calviá.',
       'Nacional. Personal empleado. Calviá.',
       'Nacional. Número de establecimientos abiertos estimados. Palma De Mallorca.',
       'Nacional. Número de plazas estimadas. Palma De Mallorca.',
       'Nacional. Grado de ocupación por plazas. Palma De Mallorca.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 07040-Palma De Mallorca.',
       'Nacional. Grado de ocupación por habitaciones. Palma De Mallorca.',
       'Nacional. Personal empleado. Palma De Mallorca.',
       'Nacional. Número de establecimientos abiertos estimados. Barcelona.',
       'Nacional. Número de plazas estimadas. Barcelona.',
       'Nacional. Grado de ocupación por plazas. Barcelona.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 08019-Barcelona.',
       'Nacional. Grado de ocupación por habitaciones. Barcelona.',
       'Nacional. Personal empleado. Barcelona.',
       'Nacional. Número de establecimientos abiertos estimados. Burgos.',
       'Nacional. Número de plazas estimadas. Burgos.',
       'Nacional. Grado de ocupación por plazas. Burgos.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 09059-Burgos.',
       'Nacional. Grado de ocupación por habitaciones. Burgos.',
       'Nacional. Personal empleado. Burgos.',
       'Nacional. Número de establecimientos abiertos estimados. Cáceres.',
       'Nacional. Número de plazas estimadas. Cáceres.',
       'Nacional. Grado de ocupación por plazas. Cáceres.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 10037-Cáceres.',
       'Nacional. Grado de ocupación por habitaciones. Cáceres.',
       'Nacional. Personal empleado. Cáceres.',
       'Nacional. Número de establecimientos abiertos estimados. Algeciras.',
       'Nacional. Número de plazas estimadas. Algeciras.',
       'Nacional. Grado de ocupación por plazas. Algeciras.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11004-Algeciras.',
       'Nacional. Grado de ocupación por habitaciones. Algeciras.',
       'Nacional. Personal empleado. Algeciras.',
       'Nacional. Número de establecimientos abiertos estimados. Arcos De La Frontera.',
       'Nacional. Número de plazas estimadas. Arcos De La Frontera.',
       'Nacional. Grado de ocupación por plazas. Arcos De La Frontera.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11006-Arcos De La Frontera.',
       'Nacional. Grado de ocupación por habitaciones. Arcos De La Frontera.',
       'Nacional. Personal empleado. Arcos De La Frontera.',
       'Nacional. Número de establecimientos abiertos estimados. Cádiz.',
       'Nacional. Número de plazas estimadas. Cádiz.',
       'Nacional. Grado de ocupación por plazas. Cádiz.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11012-Cádiz.',
       'Nacional. Grado de ocupación por habitaciones. Cádiz.',
       'Nacional. Personal empleado. Cádiz.',
       'Nacional. Número de establecimientos abiertos estimados. Jerez De La Frontera.',
       'Nacional. Número de plazas estimadas. Jerez De La Frontera.',
       'Nacional. Grado de ocupación por plazas. Jerez De La Frontera.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11020-Jerez De La Frontera.',
       'Nacional. Grado de ocupación por habitaciones. Jerez De La Frontera.',
       'Nacional. Personal empleado. Jerez De La Frontera.',
       'Nacional. Número de establecimientos abiertos estimados. El Puerto De Santa María.',
       'Nacional. Número de plazas estimadas. El Puerto De Santa María.',
       'Nacional. Grado de ocupación por plazas. El Puerto De Santa María.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11027-El Puerto De Santa María.',
       'Nacional. Grado de ocupación por habitaciones. El Puerto De Santa María.',
       'Nacional. Personal empleado. El Puerto De Santa María.',
       'Nacional. Número de establecimientos abiertos estimados. Tarifa.',
       'Nacional. Número de plazas estimadas. Tarifa.',
       'Nacional. Grado de ocupación por plazas. Tarifa.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 11035-Tarifa.',
       'Nacional. Grado de ocupación por habitaciones. Tarifa.',
       'Nacional. Personal empleado. Tarifa.',
       'Nacional. Número de establecimientos abiertos estimados. Castellón De La Plana.',
       'Nacional. Número de plazas estimadas. Castellón De La Plana.',
       'Nacional. Grado de ocupación por plazas. Castellón De La Plana.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 12040-Castellón De La Plana.',
       'Nacional. Grado de ocupación por habitaciones. Castellón De La Plana.',
       'Nacional. Personal empleado. Castellón De La Plana.',
       'Nacional. Número de establecimientos abiertos estimados. Córdoba.',
       'Nacional. Número de plazas estimadas. Córdoba.',
       'Nacional. Grado de ocupación por plazas. Córdoba.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 14021-Córdoba.',
       'Nacional. Grado de ocupación por habitaciones. Córdoba.',
       'Nacional. Personal empleado. Córdoba.',
       'Nacional. Número de establecimientos abiertos estimados. Coruña.',
       'Nacional. Número de plazas estimadas. Coruña.',
       'Nacional. Grado de ocupación por plazas. Coruña.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 15030-Coruña.',
       'Nacional. Grado de ocupación por habitaciones. Coruña.',
       'Nacional. Personal empleado. Coruña.',
       'Nacional. Número de establecimientos abiertos estimados. Santiago De Compostela.',
       'Nacional. Número de plazas estimadas. Santiago De Compostela.',
       'Nacional. Grado de ocupación por plazas. Santiago De Compostela.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 15078-Santiago De Compostela.',
       'Nacional. Grado de ocupación por habitaciones. Santiago De Compostela.',
       'Nacional. Personal empleado. Santiago De Compostela.',
       'Nacional. Número de establecimientos abiertos estimados. Cuenca.',
       'Nacional. Número de plazas estimadas. Cuenca.',
       'Nacional. Grado de ocupación por plazas. Cuenca.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 16078-Cuenca.',
       'Nacional. Grado de ocupación por habitaciones. Cuenca.',
       'Nacional. Personal empleado. Cuenca.',
       'Nacional. Número de establecimientos abiertos estimados. Granada.',
       'Nacional. Número de plazas estimadas. Granada.',
       'Nacional. Grado de ocupación por plazas. Granada.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 18087-Granada.',
       'Nacional. Grado de ocupación por habitaciones. Granada.',
       'Nacional. Personal empleado. Granada.',
       'Nacional. Número de establecimientos abiertos estimados. Donostia-San Sebastián.',
       'Nacional. Número de plazas estimadas. Donostia-San Sebastián.',
       'Nacional. Grado de ocupación por plazas. Donostia-San Sebastián.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 20069-Donostia-San Sebastián.',
       'Nacional. Grado de ocupación por habitaciones. Donostia-San Sebastián.',
       'Nacional. Personal empleado. Donostia-San Sebastián.',
       'Nacional. Número de establecimientos abiertos estimados. León.',
       'Nacional. Número de plazas estimadas. León.',
       'Nacional. Grado de ocupación por plazas. León.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 24089-León.',
       'Nacional. Grado de ocupación por habitaciones. León.',
       'Nacional. Personal empleado. León.',
       'Nacional. Número de establecimientos abiertos estimados. Lleida.',
       'Nacional. Número de plazas estimadas. Lleida.',
       'Nacional. Grado de ocupación por plazas. Lleida.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 25120-Lleida.',
       'Nacional. Grado de ocupación por habitaciones. Lleida.',
       'Nacional. Personal empleado. Lleida.',
       'Nacional. Número de establecimientos abiertos estimados. Logroño.',
       'Nacional. Número de plazas estimadas. Logroño.',
       'Nacional. Grado de ocupación por plazas. Logroño.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 26089-Logroño.',
       'Nacional. Grado de ocupación por habitaciones. Logroño.',
       'Nacional. Personal empleado. Logroño.',
       'Nacional. Número de establecimientos abiertos estimados. Lugo.',
       'Nacional. Número de plazas estimadas. Lugo.',
       'Nacional. Grado de ocupación por plazas. Lugo.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 27028-Lugo.',
       'Nacional. Grado de ocupación por habitaciones. Lugo.',
       'Nacional. Personal empleado. Lugo.',
       'Nacional. Número de establecimientos abiertos estimados. Ribadeo.',
       'Nacional. Número de plazas estimadas. Ribadeo.',
       'Nacional. Grado de ocupación por plazas. Ribadeo.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 27051-Ribadeo.',
       'Nacional. Grado de ocupación por habitaciones. Ribadeo.',
       'Nacional. Personal empleado. Ribadeo.',
       'Nacional. Número de establecimientos abiertos estimados. Madrid.',
       'Nacional. Número de plazas estimadas. Madrid.',
       'Nacional. Grado de ocupación por plazas. Madrid.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 28079-Madrid.',
       'Nacional. Grado de ocupación por habitaciones. Madrid.',
       'Nacional. Personal empleado. Madrid.',
       'Nacional. Número de establecimientos abiertos estimados. Benalmádena.',
       'Nacional. Número de plazas estimadas. Benalmádena.',
       'Nacional. Grado de ocupación por plazas. Benalmádena.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 29025-Benalmádena.',
       'Nacional. Grado de ocupación por habitaciones. Benalmádena.',
       'Nacional. Personal empleado. Benalmádena.',
       'Nacional. Número de establecimientos abiertos estimados. Fuengirola.',
       'Nacional. Número de plazas estimadas. Fuengirola.',
       'Nacional. Grado de ocupación por plazas. Fuengirola.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 29054-Fuengirola.',
       'Nacional. Grado de ocupación por habitaciones. Fuengirola.',
       'Nacional. Personal empleado. Fuengirola.',
       'Nacional. Número de establecimientos abiertos estimados. Málaga.',
       'Nacional. Número de plazas estimadas. Málaga.',
       'Nacional. Grado de ocupación por plazas. Málaga.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 29067-Málaga.',
       'Nacional. Grado de ocupación por habitaciones. Málaga.',
       'Nacional. Personal empleado. Málaga.',
       'Nacional. Número de establecimientos abiertos estimados. Marbella.',
       'Nacional. Número de plazas estimadas. Marbella.',
       'Nacional. Grado de ocupación por plazas. Marbella.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 29069-Marbella.',
       'Nacional. Grado de ocupación por habitaciones. Marbella.',
       'Nacional. Personal empleado. Marbella.',
       'Nacional. Número de establecimientos abiertos estimados. Nerja.',
       'Nacional. Número de plazas estimadas. Nerja.',
       'Nacional. Grado de ocupación por plazas. Nerja.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 29075-Nerja.',
       'Nacional. Grado de ocupación por habitaciones. Nerja.',
       'Nacional. Personal empleado. Nerja.',
       'Nacional. Número de establecimientos abiertos estimados. Ronda.',
       'Nacional. Número de plazas estimadas. Ronda.',
       'Nacional. Grado de ocupación por plazas. Ronda.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 29084-Ronda.',
       'Nacional. Grado de ocupación por habitaciones. Ronda.',
       'Nacional. Personal empleado. Ronda.',
       'Nacional. Número de establecimientos abiertos estimados. Torremolinos.',
       'Nacional. Número de plazas estimadas. Torremolinos.',
       'Nacional. Grado de ocupación por plazas. Torremolinos.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 29901-Torremolinos.',
       'Nacional. Grado de ocupación por habitaciones. Torremolinos.',
       'Nacional. Personal empleado. Torremolinos.',
       'Nacional. Número de establecimientos abiertos estimados. Cartagena.',
       'Nacional. Número de plazas estimadas. Cartagena.',
       'Nacional. Grado de ocupación por plazas. Cartagena.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 30016-Cartagena.',
       'Nacional. Grado de ocupación por habitaciones. Cartagena.',
       'Nacional. Personal empleado. Cartagena.',
       'Nacional. Número de establecimientos abiertos estimados. Murcia.',
       'Nacional. Número de plazas estimadas. Murcia.',
       'Nacional. Grado de ocupación por plazas. Murcia.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 30030-Murcia.',
       'Nacional. Grado de ocupación por habitaciones. Murcia.',
       'Nacional. Personal empleado. Murcia.',
       'Nacional. Número de establecimientos abiertos estimados. Pamplona.',
       'Nacional. Número de plazas estimadas. Pamplona.',
       'Nacional. Grado de ocupación por plazas. Pamplona.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 31201-Pamplona.',
       'Nacional. Grado de ocupación por habitaciones. Pamplona.',
       'Nacional. Personal empleado. Pamplona.',
       'Nacional. Número de establecimientos abiertos estimados. Gijón.',
       'Nacional. Número de plazas estimadas. Gijón.',
       'Nacional. Grado de ocupación por plazas. Gijón.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 33024-Gijón.',
       'Nacional. Grado de ocupación por habitaciones. Gijón.',
       'Nacional. Personal empleado. Gijón.',
       'Nacional. Número de establecimientos abiertos estimados. Llanes.',
       'Nacional. Número de plazas estimadas. Llanes.',
       'Nacional. Grado de ocupación por plazas. Llanes.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 33036-Llanes.',
       'Nacional. Grado de ocupación por habitaciones. Llanes.',
       'Nacional. Personal empleado. Llanes.',
       'Nacional. Número de establecimientos abiertos estimados. Oviedo.',
       'Nacional. Número de plazas estimadas. Oviedo.',
       'Nacional. Grado de ocupación por plazas. Oviedo.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 33044-Oviedo.',
       'Nacional. Grado de ocupación por habitaciones. Oviedo.',
       'Nacional. Personal empleado. Oviedo.',
       'Nacional. Número de establecimientos abiertos estimados. Mogán.',
       'Nacional. Número de plazas estimadas. Mogán.',
       'Nacional. Grado de ocupación por plazas. Mogán.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 35012-Mogán.',
       'Nacional. Grado de ocupación por habitaciones. Mogán.',
       'Nacional. Personal empleado. Mogán.',
       'Nacional. Número de establecimientos abiertos estimados. Pajara.',
       'Nacional. Número de plazas estimadas. Pajara.',
       'Nacional. Grado de ocupación por plazas. Pajara.',
       'Nacional. Grado de ocupación por plazas en fin de semana. 35015-Pajara.',
       'Nacional. Grado de ocupación por habitaciones. Pajara.',
       'Nacional. Personal empleado. Pajara.',
       'Nacional. Número de establecimientos abiertos estimados. Las Palmas De Gran Canaria.',
       'Nacional. Número de plazas estimadas. Las Palmas De Gran Canaria.',

In [128]:
hotels_overview_full['tourist_point'] = hotels_overview_full['info'].apply(lambda x: x.split('.')[2])
hotels_overview_full['category'] = hotels_overview_full['info'].apply(lambda x: x.split('.')[1])
hotels_overview_full = hotels_overview_full.drop('info', axis = 1)
hotels_overview_full.head()

KeyError: 'info'

In [150]:
num_cities = hotels_overview_full.loc[hotels_overview_full['tourist_point'].str.contains('[0-9]')]
num_cities['tourist_point'] = num_cities['tourist_point'].apply(lambda x: x.split('-', 1)[1])
hotels_overview_full['tourist_point'].loc[num_cities['tourist_point'].index] = num_cities['tourist_point']

C:\Users\ameli\AppData\Local\Temp\ipykernel_26388\784862529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  num_cities['tourist_point'] = num_cities['tourist_point'].apply(lambda x: x.split('-', 1)[1])
C:\Users\ameli\AppData\Local\Temp\ipykernel_26388\784862529.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotels_overview_full['tourist_point'].loc[num_cities['tourist_point'].index] = num_cities['tourist_point']

In [151]:
hotels_overview_full['tourist_point'].unique()

array([' Vitoria-Gastéiz', 'Vitoria-Gastéiz', ' Albacete', 'Albacete',
       ' Alicante', 'Alicante', ' Benidorm', 'Benidorm', ' Torrevieja',
       'Torrevieja', ' Almería', 'Almería', ' Mojácar', 'Mojácar',
       ' Roquetas De Mar', 'Roquetas De Mar', ' Ávila', 'Ávila',
       ' Mérida', 'Mérida', ' Calviá', 'Calviá', ' Palma De Mallorca',
       'Palma De Mallorca', ' Barcelona', 'Barcelona', ' Burgos',
       'Burgos', ' Cáceres', 'Cáceres', ' Algeciras', 'Algeciras',
       ' Arcos De La Frontera', 'Arcos De La Frontera', ' Cádiz', 'Cádiz',
       ' Jerez De La Frontera', 'Jerez De La Frontera',
       ' El Puerto De Santa María', 'El Puerto De Santa María', ' Tarifa',
       'Tarifa', ' Castellón De La Plana', 'Castellón De La Plana',
       ' Córdoba', 'Córdoba', ' Coruña', 'Coruña',
       ' Santiago De Compostela', 'Santiago De Compostela', ' Cuenca',
       'Cuenca', ' Granada', 'Granada', ' Donostia-San Sebastián',
       'Donostia-San Sebastián', ' León', 'León', ' Lleida', 'Lleida',
       ' Logroño', 'Logroño', ' Lugo', 'Lugo', ' Ribadeo', 'Ribadeo',
       ' Madrid', 'Madrid', ' Benalmádena', 'Benalmádena', ' Fuengirola',
       'Fuengirola', ' Málaga', 'Málaga', ' Marbella', 'Marbella',
       ' Nerja', 'Nerja', ' Ronda', 'Ronda', ' Torremolinos',
       'Torremolinos', ' Cartagena', 'Cartagena', ' Murcia', 'Murcia',
       ' Pamplona', 'Pamplona', ' Gijón', 'Gijón', ' Llanes', 'Llanes',
       ' Oviedo', 'Oviedo', ' Mogán', 'Mogán', ' Pajara', 'Pajara',
       ' Las Palmas De Gran Canaria', 'Las Palmas De Gran Canaria',
       ' San Bartolomé De Tirajana', 'San Bartolomé De Tirajana', ' Tias',
       'Tias', ' Vigo', 'Vigo', ' Salamanca', 'Salamanca', ' Adeje',
       'Adeje', ' Arona', 'Arona', ' Puerto De La Cruz',
       'Puerto De La Cruz', ' Santa Cruz De Tenerife',
       'Santa Cruz De Tenerife', ' Santander', 'Santander', ' Segovia',
       'Segovia', ' Sevilla', 'Sevilla', ' Soria', 'Soria', ' Tarragona',
       'Tarragona', ' Albarracín', 'Albarracín', ' Teruel', 'Teruel',
       ' Toledo', 'Toledo', ' Gandía', 'Gandía', ' Valencia', 'Valencia',
       ' Valladolid', 'Valladolid', ' Bilbao', 'Bilbao', ' Zamora',
       'Zamora', ' Zaragoza', 'Zaragoza'], dtype=object)

In [152]:
hotels_overview_full['tourist_point'] = hotels_overview_full['tourist_point'].apply(lambda x: x.lstrip())
hotels_overview_full['tourist_point'].unique()

array(['Vitoria-Gastéiz', 'Albacete', 'Alicante', 'Benidorm',
       'Torrevieja', 'Almería', 'Mojácar', 'Roquetas De Mar', 'Ávila',
       'Mérida', 'Calviá', 'Palma De Mallorca', 'Barcelona', 'Burgos',
       'Cáceres', 'Algeciras', 'Arcos De La Frontera', 'Cádiz',
       'Jerez De La Frontera', 'El Puerto De Santa María', 'Tarifa',
       'Castellón De La Plana', 'Córdoba', 'Coruña',
       'Santiago De Compostela', 'Cuenca', 'Granada',
       'Donostia-San Sebastián', 'León', 'Lleida', 'Logroño', 'Lugo',
       'Ribadeo', 'Madrid', 'Benalmádena', 'Fuengirola', 'Málaga',
       'Marbella', 'Nerja', 'Ronda', 'Torremolinos', 'Cartagena',
       'Murcia', 'Pamplona', 'Gijón', 'Llanes', 'Oviedo', 'Mogán',
       'Pajara', 'Las Palmas De Gran Canaria',
       'San Bartolomé De Tirajana', 'Tias', 'Vigo', 'Salamanca', 'Adeje',
       'Arona', 'Puerto De La Cruz', 'Santa Cruz De Tenerife',
       'Santander', 'Segovia', 'Sevilla', 'Soria', 'Tarragona',
       'Albarracín', 'Teruel', 'Toledo', 'Gandía', 'Valencia',
       'Valladolid', 'Bilbao', 'Zamora', 'Zaragoza'], dtype=object)

##### Let's create adequate columns for each subset.

In [134]:
rows_no_national_first['info'].unique()

array(['Vitoria-Gasteiz. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Albacete. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Alicante/Alacant. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Benidorm. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Dénia. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Elche/Elx. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Torrevieja. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Almería. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Mojácar. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Níjar. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Roquetas de Mar. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Ávila. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Badajoz. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Mérida. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Calvià. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Capdepera. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Palma. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Sant Llorenç des Cardassar. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Barcelona. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Sitges. Número de establecimientos abiertos estimados. Total categorías. Dato base. ',
       'Sitges. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Sitges. Número de plazas estimadas. Total categorías. Dato base. ',
       'Sitges. Grado de ocupación por plazas. Total categorías. Dato base. ',
       'Sitges. Grado de ocupación por plazas en fin de semana. Total categorías. Dato base. ',
       'Sitges. Grado de ocupación por habitaciones. Total categorías. Dato base. ',
       'Sitges. Personal empleado. Total categorías. Dato base. ',
       'Burgos. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Cáceres. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Plasencia. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Trujillo. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Algeciras. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Arcos de la Frontera. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Cádiz. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Jerez de la Frontera. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Puerto de Santa María, El. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Tarifa. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Castelló de la Plana. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Peníscola/Peñíscola. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Ciudad Real. Número de establecimientos abiertos estimados. Total categorías. Dato base. ',
       'Ciudad Real. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Ciudad Real. Número de plazas estimadas. Total categorías. Dato base. ',
       'Ciudad Real. Grado de ocupación por plazas. Total categorías. Dato base. ',
       'Ciudad Real. Grado de ocupación por plazas en fin de semana. Total categorías. Dato base. ',
       'Ciudad Real. Grado de ocupación por habitaciones. Total categorías. Dato base. ',
       'Ciudad Real. Personal empleado. Total categorías. Dato base. ',
       'Córdoba. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Coruña, A. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Santiago de Compostela. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Cuenca. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Lloret de Mar. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Granada. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Sigüenza. Número de establecimientos abiertos estimados. Total categorías. Dato base. ',
       'Sigüenza. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Sigüenza. Número de plazas estimadas. Total categorías. Dato base. ',
       'Sigüenza. Grado de ocupación por plazas. Total categorías. Dato base. ',
       'Sigüenza. Grado de ocupación por plazas en fin de semana. Total categorías. Dato base. ',
       'Sigüenza. Grado de ocupación por habitaciones. Total categorías. Dato base. ',
       'Sigüenza. Personal empleado. Total categorías. Dato base. ',
       'Donostia/San Sebastián. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Benasque. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Jaca. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Sallent de Gállego. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Cazorla. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'León. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Ponferrada. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Naut Aran. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Lleida. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Vielha e Mijaran. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Logroño. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Lugo. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Ribadeo. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Viveiro. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Madrid. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Antequera. Número de establecimientos abiertos estimados. Total categorías. Dato base. ',
       'Antequera. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Antequera. Número de plazas estimadas. Total categorías. Dato base. ',
       'Antequera. Grado de ocupación por plazas. Total categorías. Dato base. ',
       'Antequera. Grado de ocupación por plazas en fin de semana. Total categorías. Dato base. ',
       'Antequera. Grado de ocupación por habitaciones. Total categorías. Dato base. ',
       'Antequera. Personal empleado. Total categorías. Dato base. ',
       'Benalmádena. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Estepona. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Fuengirola. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Málaga. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Marbella. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Nerja. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Ronda. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Torremolinos. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Cartagena. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Murcia. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Pamplona/Iruña. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Ourense. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Cangas de Onís. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Gijón. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Llanes. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Oviedo. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Villaviciosa. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Palencia. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Mogán. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Pájara. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Palmas de Gran Canaria, Las. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'San Bartolomé de Tirajana. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Teguise. Número de establecimientos abiertos estimados. Total categorías. Dato base. ',
       'Teguise. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Teguise. Número de plazas estimadas. Total categorías. Dato base. ',
       'Teguise. Grado de ocupación por plazas. Total categorías. Dato base. ',
       'Teguise. Grado de ocupación por plazas en fin de semana. Total categorías. Dato base. ',
       'Teguise. Grado de ocupación por habitaciones. Total categorías. Dato base. ',
       'Teguise. Personal empleado. Total categorías. Dato base. ',
       'Tías. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Yaiza. Número de establecimientos abiertos estimados. Total categorías. Dato base. ',
       'Yaiza. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Yaiza. Número de plazas estimadas. Total categorías. Dato base. ',
       'Yaiza. Grado de ocupación por plazas. Total categorías. Dato base. ',
       'Yaiza. Grado de ocupación por plazas en fin de semana. Total categorías. Dato base. ',
       'Yaiza. Grado de ocupación por habitaciones. Total categorías. Dato base. ',
       'Yaiza. Personal empleado. Total categorías. Dato base. ',
       'Grove, O. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Sanxenxo. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Vigo. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Salamanca. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Adeje. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Arona. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Puerto de la Cruz. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Santa Cruz de Tenerife. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Santander. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Segovia. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Sevilla. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Soria. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Cambrils. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Tarragona. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Salou. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Albarracín. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Teruel. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Toledo. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Gandia. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'València. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Valladolid. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Bilbao. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Benavente. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Zamora. Número de habitaciones estimadas. Total categorías. Dato base. ',
       'Zaragoza. Número de habitaciones estimadas. Total categorías. Dato base. '],
      dtype=object)

In [135]:
rows_no_national_first['tourist_point'] = rows_no_national_first['info'].apply(lambda x: x.split('.')[0])
rows_no_national_first['category'] = rows_no_national_first['info'].apply(lambda x: x.split('.')[1])
rows_no_national_first = rows_no_national_first.drop('info', axis = 1)
rows_no_national_first.head()

         Fecha   Valor    tourist_point                           category
66  2022-06-01  1632.0  Vitoria-Gasteiz   Número de habitaciones estimadas
67  2022-05-01  1628.0  Vitoria-Gasteiz   Número de habitaciones estimadas
68  2022-04-01  1632.0  Vitoria-Gasteiz   Número de habitaciones estimadas
69  2022-03-01  1629.0  Vitoria-Gasteiz   Número de habitaciones estimadas
70  2022-02-01  1628.0  Vitoria-Gasteiz   Número de habitaciones estimadas

In [139]:
rows_no_nat_city_first['info'].unique()

array(['Número de establecimientos abiertos estimados. Total categorías. Elche/Elx. Dato base. ',
       'Número de establecimientos abiertos estimados. Total categorías. Badajoz. Dato base. ',
       'Número de establecimientos abiertos estimados. Total categorías. Ponferrada. Dato base. '],
      dtype=object)

In [142]:
rows_no_nat_city_first['tourist_point'] = rows_no_nat_city_first['info'].apply(lambda x: x.split('.')[2])
rows_no_nat_city_first['category'] = rows_no_nat_city_first['info'].apply(lambda x: x.split('.')[0])
rows_no_nat_city_first = rows_no_nat_city_first.drop('info', axis = 1)
rows_no_nat_city_first.head()

,Fecha,Valor,tourist_point,category
2310,2022-06-01,20.0,Elche/Elx,Número de establecimientos abiertos estimados
2311,2022-05-01,20.0,Elche/Elx,Número de establecimientos abiertos estimados
2312,2022-04-01,20.0,Elche/Elx,Número de establecimientos abiertos estimados
2313,2022-03-01,20.0,Elche/Elx,Número de establecimientos abiertos estimados
2314,2022-02-01,19.0,Elche/Elx,Número de establecimientos abiertos estimados

In [143]:
rows_extra_value['info'].unique()

array(['Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 03063-Denia.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 04066-Níjar.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 07014-Capdepera.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 07051-Sant Llorenç des Cardassar.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 10148-Plasencia.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 10195-Trujillo.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 12089-Peñiscola.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 17095-Lloret de Mar.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 17095-Lloret de Mar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 17095-Lloret de Mar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 17095-Lloret de Mar.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 17095-Lloret de Mar.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 17095-Lloret de Mar.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 22054-Benasque.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 22054-Benasque.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 22054-Benasque.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 22054-Benasque.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 22054-Benasque.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 22054-Benasque.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 22130-Jaca.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 22130-Jaca.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 22130-Jaca.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 22130-Jaca.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 22130-Jaca.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 22130-Jaca.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 22204-Sallent de Gállego.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 22204-Sallent de Gállego.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 22204-Sallent de Gállego.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 22204-Sallent de Gállego.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 22204-Sallent de Gállego.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 22204-Sallent de Gállego.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 23028-Cazorla.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 23028-Cazorla.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 23028-Cazorla.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 23028-Cazorla.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 23028-Cazorla.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 23028-Cazorla.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 25025-Naut Arant.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 25025-Naut Arant.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 25025-Naut Arant.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 25025-Naut Arant.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 25025-Naut Arant.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 25025-Naut Arant.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 25243-Vielha e Mijaran.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 25243-Vielha e Mijaran.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 25243-Vielha e Mijaran.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 25243-Vielha e Mijaran.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 25243-Vielha e Mijaran.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 25243-Vielha e Mijaran.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 27066-Viveiro.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 27066-Viveiro.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 27066-Viveiro.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 27066-Viveiro.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 27066-Viveiro.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 27066-Viveiro.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 29051-Estepona.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 29051-Estepona.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 29051-Estepona.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 29051-Estepona.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 29051-Estepona.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 29051-Estepona.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 32054-Ourense.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 32054-Ourense.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 32054-Ourense.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 32054-Ourense.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 32054-Ourense.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 32054-Ourense.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 33012-Cangas de Onís.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 33012-Cangas de Onís.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 33012-Cangas de Onís.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 33012-Cangas de Onís.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 33012-Cangas de Onís.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 33012-Cangas de Onís.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 33076-Villaviciosa.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 33076-Villaviciosa.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 33076-Villaviciosa.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 33076-Villaviciosa.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 33076-Villaviciosa.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 33076-Villaviciosa.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 34120-Palencia.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 34120-Palencia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 34120-Palencia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 34120-Palencia.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 34120-Palencia.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 34120-Palencia.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 36022-Grove (O).',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 36022-Grove (O).',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 36022-Grove (O).',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 36022-Grove (O).',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 36022-Grove (O).',
       'Nacional. Establecimientos hoteleros. Personal empleado. 36022-Grove (O).',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 36051-Sanxenxo.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 36051-Sanxenxo.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 36051-Sanxenxo.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 36051-Sanxenxo.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 36051-Sanxenxo.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 36051-Sanxenxo.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 43038-Cambrils.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 43038-Cambrils.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 43038-Cambrils.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 43038-Cambrils.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 43038-Cambrils.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 43038-Cambrils.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 43905-Salou.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 43905-Salou.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 43905-Salou.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 43905-Salou.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 43905-Salou.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 43905-Salou.',
       'Nacional. Establecimientos hoteleros. Número de establecimientos abiertos estimados. 49021-Benavente.',
       'Nacional. Establecimientos hoteleros. Número de plazas estimadas. 49021-Benavente.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas. 49021-Benavente.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por plazas en fin de semana. 49021-Benavente.',
       'Nacional. Establecimientos hoteleros. Grado de ocupación por habitaciones. 49021-Benavente.',
       'Nacional. Establecimientos hoteleros. Personal empleado. 49021-Benavente.'],
      dtype=object)

In [154]:
rows_extra_value['tourist_point'] = rows_extra_value['info'].apply(lambda x: x.split('.')[3])
rows_extra_value['category'] = rows_extra_value['info'].apply(lambda x: x.split('.')[2])
rows_extra_value = rows_extra_value.drop('info', axis = 1)
rows_extra_value.head()

,Fecha,Valor,tourist_point,category
1848,2022-06-01,30.0,03063-Denia,Número de establecimientos abiertos estimados
1849,2022-05-01,28.0,03063-Denia,Número de establecimientos abiertos estimados
1850,2022-04-01,25.0,03063-Denia,Número de establecimientos abiertos estimados
1851,2022-03-01,NaN,03063-Denia,Número de establecimientos abiertos estimados
1852,2022-02-01,NaN,03063-Denia,Número de establecimientos abiertos estimados

##### Let's clean the numbers

In [155]:
num_rows_extra_value = rows_extra_value.loc[rows_extra_value['tourist_point'].str.contains('[0-9]')]
num_rows_extra_value['tourist_point'] = num_rows_extra_value['tourist_point'].apply(lambda x: x.split('-', 1)[1])
rows_extra_value['tourist_point'].loc[num_rows_extra_value['tourist_point'].index] = num_rows_extra_value['tourist_point']
rows_extra_value['tourist_point'] = rows_extra_value['tourist_point'].apply(lambda x: x.lstrip())
rows_extra_value['tourist_point'].unique()

C:\Users\ameli\AppData\Local\Temp\ipykernel_26388\1067992962.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_extra_value['tourist_point'].loc[num_rows_extra_value['tourist_point'].index] = num_rows_extra_value['tourist_point']

array(['Denia', 'Níjar', 'Capdepera', 'Sant Llorenç des Cardassar',
       'Plasencia', 'Trujillo', 'Peñiscola', 'Lloret de Mar', 'Benasque',
       'Jaca', 'Sallent de Gállego', 'Cazorla', 'Naut Arant',
       'Vielha e Mijaran', 'Viveiro', 'Estepona', 'Ourense',
       'Cangas de Onís', 'Villaviciosa', 'Palencia', 'Grove (O)',
       'Sanxenxo', 'Cambrils', 'Salou', 'Benavente'], dtype=object)

In [156]:
rows_extra_value.head()

,Fecha,Valor,tourist_point,category
1848,2022-06-01,30.0,Denia,Número de establecimientos abiertos estimados
1849,2022-05-01,28.0,Denia,Número de establecimientos abiertos estimados
1850,2022-04-01,25.0,Denia,Número de establecimientos abiertos estimados
1851,2022-03-01,NaN,Denia,Número de establecimientos abiertos estimados
1852,2022-02-01,NaN,Denia,Número de establecimientos abiertos estimados

In [157]:
hotels_overview_full = pd.concat([hotels_overview_full, rows_no_nat_city_first, rows_no_national_first, rows_extra_value])
hotels_overview_full.head()

,Fecha,Valor,tourist_point,category
0,2022-06-01,39.0,Vitoria-Gastéiz,Número de establecimientos abiertos estimados
1,2022-05-01,39.0,Vitoria-Gastéiz,Número de establecimientos abiertos estimados
2,2022-04-01,39.0,Vitoria-Gastéiz,Número de establecimientos abiertos estimados
3,2022-03-01,39.0,Vitoria-Gastéiz,Número de establecimientos abiertos estimados
4,2022-02-01,39.0,Vitoria-Gastéiz,Número de establecimientos abiertos estimados

In [159]:
hotels_overview_full.shape

(47982, 4)

In [169]:
hotels_overview_full.isna().sum()

Fecha               0
Valor            6503
tourist_point       0
category            0
dtype: int64

In [173]:
missing_values = hotels_overview_full[hotels_overview_full['Valor'].isna()]
missing_values['tourist_point'].value_counts()

Torrevieja                   406
Villaviciosa                 329
Palencia                     245
Benavente                    238
Cambrils                     231
                            ...
Palma                          2
Jerez de la Frontera           2
Castelló de la Plana           2
Coruña, A                      2
San Bartolomé de Tirajana      2
Name: tourist_point, Length: 134, dtype: int64

In [176]:
nan_df = pd.DataFrame()

nan_df['missing_values'] = missing_values['tourist_point'].value_counts()
nan_df['total_values'] = hotels_overview_full.tourist_point.value_counts()
nan_df['percentage_nan'] = round((missing_values['tourist_point'].value_counts() / hotels_overview_full.tourist_point.value_counts())*100, 2)

display(nan_df)

                           missing_values  total_values  percentage_nan
Torrevieja                            406           462           87.88
Villaviciosa                          329           462           71.21
Palencia                              245           462           53.03
Benavente                             238           462           51.52
Cambrils                              231           462           50.00
...                                   ...           ...             ...
Palma                                   2            66            3.03
Jerez de la Frontera                    2            66            3.03
Castelló de la Plana                    2            66            3.03
Coruña, A                               2            66            3.03
San Bartolomé de Tirajana               2            66            3.03

[134 rows x 3 columns]

In [178]:
nan_filtered = nan_df[nan_df['percentage_nan'] > 10]
display(nan_filtered)

                            missing_values  total_values  percentage_nan
Torrevieja                             406           462           87.88
Villaviciosa                           329           462           71.21
Palencia                               245           462           53.03
Benavente                              238           462           51.52
Cambrils                               231           462           50.00
Sant Llorenç des Cardassar             224           462           48.48
Salou                                  217           462           46.97
Capdepera                              217           462           46.97
Estepona                               196           462           42.42
Gandía                                 156           396           39.39
Antequera                              147           462           31.82
Sanxenxo                               147           462           31.82
Mojácar                                147           462           31.82
Llanes                                 140           462           30.30
Sallent de Gállego                     140           462           30.30
Grove (O)                              138           396           34.85
Cangas de Onís                         133           462           28.79
Denia                                  126           396           31.82
Viveiro                                126           462           27.27
Cazorla                                119           462           25.76
Naut Arant                             114           396           28.79
Calviá                                 102           396           25.76
Algeciras                               98           462           21.21
Benasque                                91           462           19.70
Roquetas De Mar                         84           396           21.21
Lloret de Mar                           84           462           18.18
Arcos De La Frontera                    78           396           19.70
Jaca                                    77           462           16.67
Benalmádena                             77           462           16.67
Nerja                                   70           462           15.15
Teguise                                 63           462           13.64
Ribadeo                                 63           462           13.64
Peñiscola                               60           396           15.15
Tarragona                               56           462           12.12
Torremolinos                            56           462           12.12
Sigüenza                                56           462           12.12
Tarifa                                  56           462           12.12
Tias                                    54           396           13.64
Plasencia                               49           462           10.61
Gandia                                  26            66           39.39
Grove, O                                23            66           34.85
Dénia                                   21            66           31.82
Naut Aran                               19            66           28.79
Calvià                                  17            66           25.76
Ponferrada                              15            66           22.73
 Ponferrada                             15            66           22.73
Roquetas de Mar                         14            66           21.21
Arcos de la Frontera                    13            66           19.70
Peníscola/Peñíscola                     10            66           15.15
Tías                                     9            66           13.64

In [179]:
nan_city_name = list(nan_filtered.index)
print(nan_city_name)

['Torrevieja', 'Villaviciosa', 'Palencia', 'Benavente', 'Cambrils', 'Sant Llorenç des Cardassar', 'Salou', 'Capdepera', 'Estepona', 'Gandía', 'Antequera', 'Sanxenxo', 'Mojácar', 'Llanes', 'Sallent de Gállego', 'Grove (O)', 'Cangas de Onís', 'Denia', 'Viveiro', 'Cazorla', 'Naut Arant', 'Calviá', 'Algeciras', 'Benasque', 'Roquetas De Mar', 'Lloret de Mar', 'Arcos De La Frontera', 'Jaca', 'Benalmádena', 'Nerja', 'Teguise', 'Ribadeo', 'Peñiscola', 'Tarragona', 'Torremolinos', 'Sigüenza', 'Tarifa', 'Tias', 'Plasencia', 'Gandia', 'Grove, O', 'Dénia', 'Naut Aran', 'Calvià', 'Ponferrada', ' Ponferrada', 'Roquetas de Mar', 'Arcos de la Frontera', 'Peníscola/Peñíscola', 'Tías']

In [180]:
hotels_overview_full = hotels_overview_full[hotels_overview_full.tourist_point.isin(nan_city_name) == False]

hotels_overview_full = hotels_overview_full.fillna(0)
hotels_overview_full.isna().sum()

Fecha            0
Valor            0
tourist_point    0
category         0
dtype: int64

In [181]:
hotels_overview_full = hotels_overview_full.reindex(columns = ['tourist_point', 'category', 'Valor', 'Fecha'])
hotels_overview_full = hotels_overview_full.rename(columns = {'Valor': 'value', 'Fecha':'date'})
hotels_overview_full.head()

,tourist_point,category,value,date
0,Vitoria-Gastéiz,Número de establecimientos abiertos estimados,39.0,2022-06-01
1,Vitoria-Gastéiz,Número de establecimientos abiertos estimados,39.0,2022-05-01
2,Vitoria-Gastéiz,Número de establecimientos abiertos estimados,39.0,2022-04-01
3,Vitoria-Gastéiz,Número de establecimientos abiertos estimados,39.0,2022-03-01
4,Vitoria-Gastéiz,Número de establecimientos abiertos estimados,39.0,2022-02-01

In [182]:
file_name = 'hotels_overview.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

hotels_overview_full.to_excel(path+file_name)

##### Tarifa media diaria (ADR)

In [183]:
hotels_adr_full = normalize_json(hotels_adr)
hotels_adr_full['info'].unique()

array(['Vitoria-Gasteiz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Vitoria-Gasteiz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Albacete. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Albacete. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Alicante/Alacant. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Alicante/Alacant. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Benidorm. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benidorm. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Dénia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Dénia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Elche/Elx. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Elche/Elx. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Torrevieja. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Torrevieja. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Almería. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Almería. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Mojácar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Mojácar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Níjar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Níjar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Roquetas de Mar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Roquetas de Mar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ávila. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ávila. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Badajoz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Badajoz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Mérida. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Mérida. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Calvià. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Calvià. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Capdepera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Capdepera. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Palma. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palma. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sant Llorenç des Cardassar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sant Llorenç des Cardassar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Barcelona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Barcelona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sitges. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sitges. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Burgos. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Burgos. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cáceres. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cáceres. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Plasencia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Plasencia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Trujillo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Trujillo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Algeciras. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Algeciras. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Arcos de la Frontera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Arcos de la Frontera. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cádiz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cádiz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Jerez de la Frontera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Jerez de la Frontera. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Puerto de Santa María, El. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Puerto de Santa María, El. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Tarifa. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tarifa. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Castelló de la Plana. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Castelló de la Plana. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Peníscola/Peñíscola. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Peníscola/Peñíscola. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ciudad Real. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ciudad Real. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Córdoba. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Córdoba. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Coruña, A. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Coruña, A. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Santiago de Compostela. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santiago de Compostela. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cuenca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cuenca. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Lloret de Mar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lloret de Mar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Granada. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Granada. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sigüenza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sigüenza. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Donostia/San Sebastián. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Donostia/San Sebastián. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Benasque. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benasque. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Jaca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Jaca. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sallent de Gállego. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sallent de Gállego. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cazorla. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cazorla. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'León. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'León. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ponferrada. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ponferrada. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Naut Aran. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Naut Aran. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Lleida. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lleida. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Vielha e Mijaran. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Vielha e Mijaran. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Logroño. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Logroño. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Lugo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lugo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ribadeo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ribadeo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Viveiro. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Viveiro. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Madrid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Madrid. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Antequera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Antequera. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Benalmádena. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benalmádena. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Estepona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Estepona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Fuengirola. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Fuengirola. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Málaga. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Málaga. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Marbella. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Marbella. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Nerja. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Nerja. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ronda. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ronda. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Torremolinos. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Torremolinos. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cartagena. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cartagena. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Murcia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Murcia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Pamplona/Iruña. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Pamplona/Iruña. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ourense. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ourense. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cangas de Onís. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cangas de Onís. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Gijón. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Gijón. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Llanes. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Llanes. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Oviedo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Oviedo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Villaviciosa. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Villaviciosa. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Palencia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palencia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Mogán. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Mogán. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Pájara. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Pájara. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Palmas de Gran Canaria, Las. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palmas de Gran Canaria, Las. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'San Bartolomé de Tirajana. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'San Bartolomé de Tirajana. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Teguise. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Teguise. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Tías. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tías. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Yaiza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Yaiza. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Grove, O. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Grove, O. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sanxenxo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sanxenxo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Vigo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Vigo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Salamanca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Salamanca. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Adeje. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Adeje. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Arona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Arona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Puerto de la Cruz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Puerto de la Cruz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Santa Cruz de Tenerife. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santa Cruz de Tenerife. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Santander. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santander. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Segovia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Segovia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sevilla. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sevilla. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Soria. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Soria. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cambrils. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cambrils. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Tarragona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tarragona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Salou. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Salou. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Albarracín. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Albarracín. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Teruel. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Teruel. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Toledo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Toledo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Gandia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Gandia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'València. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'València. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Valladolid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Valladolid. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Bilbao. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Bilbao. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Benavente. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benavente. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Zamora. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zamora. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Zaragoza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zaragoza. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. '],
      dtype=object)

In [186]:
hotels_adr_full = hotels_adr_full.loc[hotels_adr_full['info'].str.contains('Dato base.')]
hotels_adr_full['info'].unique()

array(['Vitoria-Gasteiz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Albacete. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Alicante/Alacant. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benidorm. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Dénia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Elche/Elx. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Torrevieja. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Almería. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Mojácar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Níjar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Roquetas de Mar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ávila. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Badajoz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Mérida. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Calvià. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Capdepera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palma. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sant Llorenç des Cardassar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Barcelona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sitges. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Burgos. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cáceres. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Plasencia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Trujillo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Algeciras. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Arcos de la Frontera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cádiz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Jerez de la Frontera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Puerto de Santa María, El. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tarifa. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Castelló de la Plana. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Peníscola/Peñíscola. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ciudad Real. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Córdoba. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Coruña, A. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santiago de Compostela. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cuenca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lloret de Mar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Granada. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sigüenza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Donostia/San Sebastián. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benasque. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Jaca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sallent de Gállego. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cazorla. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'León. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ponferrada. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Naut Aran. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lleida. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Vielha e Mijaran. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Logroño. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lugo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ribadeo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Viveiro. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Madrid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Antequera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benalmádena. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Estepona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Fuengirola. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Málaga. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Marbella. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Nerja. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ronda. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Torremolinos. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cartagena. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Murcia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Pamplona/Iruña. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ourense. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cangas de Onís. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Gijón. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Llanes. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Oviedo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Villaviciosa. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palencia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Mogán. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Pájara. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palmas de Gran Canaria, Las. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'San Bartolomé de Tirajana. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Teguise. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tías. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Yaiza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Grove, O. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sanxenxo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Vigo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Salamanca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Adeje. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Arona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Puerto de la Cruz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santa Cruz de Tenerife. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santander. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Segovia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sevilla. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Soria. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cambrils. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tarragona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Salou. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Albarracín. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Teruel. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Toledo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Gandia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'València. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Valladolid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Bilbao. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benavente. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zamora. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zaragoza. Tarifa media diaria (ADR). Total categorías. Dato base. '],
      dtype=object)

In [187]:
hotels_adr_full['tourist_point'] = hotels_adr_full['info'].apply(lambda x: x.split('.')[0])
hotels_adr_full = hotels_adr_full.drop('info', axis=1)
hotels_adr_full.head()

        Fecha  Valor    tourist_point
0  2022-06-01  70.88  Vitoria-Gasteiz
1  2022-05-01  63.04  Vitoria-Gasteiz
2  2022-04-01  64.57  Vitoria-Gasteiz
3  2022-03-01  57.89  Vitoria-Gasteiz
4  2022-02-01  52.50  Vitoria-Gasteiz

In [188]:
hotels_adr_full.isna().sum()

Fecha              0
Valor            149
tourist_point      0
dtype: int64

In [189]:
missing_values = hotels_adr_full[hotels_adr_full['Valor'].isna()]
missing_values['tourist_point'].unique()

array(['Dénia', 'Torrevieja', 'Mojácar', 'Roquetas de Mar', 'Calvià',
       'Capdepera', 'Sant Llorenç des Cardassar', 'Algeciras', 'Tarifa',
       'Peníscola/Peñíscola', 'Lloret de Mar', 'Benasque', 'Jaca',
       'Sallent de Gállego', 'Cazorla', 'Ponferrada', 'Naut Aran',
       'Viveiro', 'Benalmádena', 'Estepona', 'Nerja', 'Torremolinos',
       'Cangas de Onís', 'Llanes', 'Villaviciosa', 'Palencia', 'Teguise',
       'Tías', 'Grove, O', 'Sanxenxo', 'Arona', 'Cambrils', 'Salou',
       'Albarracín', 'Gandia'], dtype=object)

In [191]:
nan_df = pd.DataFrame()

nan_df['nan'] = missing_values['tourist_point'].value_counts()
nan_df['total_values'] = hotels_adr_full['tourist_point'].value_counts()
nan_df['percentage_nan'] = round((missing_values['tourist_point'].value_counts()/hotels_adr_full['tourist_point'].value_counts())*100,2)

display(nan_df)

                            nan  total_values  percentage_nan
Salou                        10            18           55.56
Sant Llorenç des Cardassar    9            18           50.00
Gandia                        8            18           44.44
Capdepera                     8            18           44.44
Cambrils                      8            18           44.44
Torrevieja                    8            18           44.44
Cangas de Onís                6            18           33.33
Calvià                        6            18           33.33
Villaviciosa                  6            18           33.33
Tías                          5            18           27.78
Estepona                      5            18           27.78
Benalmádena                   5            18           27.78
Teguise                       5            18           27.78
Llanes                        5            18           27.78
Lloret de Mar                 5            18           27.78
Cazorla                       4            18           22.22
Grove, O                      4            18           22.22
Nerja                         4            18           22.22
Mojácar                       4            18           22.22
Jaca                          4            18           22.22
Sallent de Gállego            3            18           16.67
Benasque                      3            18           16.67
Sanxenxo                      3            18           16.67
Palencia                      3            18           16.67
Dénia                         2            18           11.11
Torremolinos                  2            18           11.11
Naut Aran                     2            18           11.11
Tarifa                        2            18           11.11
Algeciras                     2            18           11.11
Roquetas de Mar               2            18           11.11
Viveiro                       2            18           11.11
Ponferrada                    1            18            5.56
Peníscola/Peñíscola           1            18            5.56
Arona                         1            18            5.56
Albarracín                    1            18            5.56

In [193]:
nan_filtered = nan_df[nan_df['percentage_nan'] > 30]
display(nan_filtered)

                            nan  total_values  percentage_nan
Salou                        10            18           55.56
Sant Llorenç des Cardassar    9            18           50.00
Gandia                        8            18           44.44
Capdepera                     8            18           44.44
Cambrils                      8            18           44.44
Torrevieja                    8            18           44.44
Cangas de Onís                6            18           33.33
Calvià                        6            18           33.33
Villaviciosa                  6            18           33.33

In [194]:
hotels_adr_full = hotels_adr_full.fillna(0)
hotels_adr_full.isna().sum()

Fecha            0
Valor            0
tourist_point    0
dtype: int64

In [195]:
hotels_adr_full = hotels_adr_full.reindex(columns = ['tourist_point', 'Valor', 'Fecha'])
hotels_adr_full = hotels_adr_full.rename(columns = {'Valor': 'value', 'Fecha':'date'})
hotels_adr_full.head()

     tourist_point  value        date
0  Vitoria-Gasteiz  70.88  2022-06-01
1  Vitoria-Gasteiz  63.04  2022-05-01
2  Vitoria-Gasteiz  64.57  2022-04-01
3  Vitoria-Gasteiz  57.89  2022-03-01
4  Vitoria-Gasteiz  52.50  2022-02-01

In [196]:
file_name = 'hotels_adr.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

hotels_adr_full.to_excel(path+file_name)

##### Hotels Revenue

In [197]:
hotels_revenue = normalize_json(hotels_revenue)
hotels_revenue['info'].unique()

array(['Indice de ingresos hoteleros (Base 2008). Nacional. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Nacional. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Andalucía. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Andalucía. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Aragón. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Aragón. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Asturias (Principado de). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Asturias (Principado de). Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Balears (Illes). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Balears (Illes). Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Canarias. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Canarias. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Cantabria. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Cantabria. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Castilla y León. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Castilla y León. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Castilla - La Mancha. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Castilla - La Mancha. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Cataluña. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Cataluña. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Comunitat Valenciana. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Comunitat Valenciana. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Extremadura. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Extremadura. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Galicia. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Galicia. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Madrid (Comunidad de). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Madrid (Comunidad de). Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Murcia (Región de). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Murcia (Región de). Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Navarra (Comunidad Foral de). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Navarra (Comunidad Foral de). Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). País Vasco. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). País Vasco. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Rioja (La). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Rioja (La). Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Ceuta. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Ceuta. Tasa de variación interanual.',
       'Indice de ingresos hoteleros (Base 2008). Melilla. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Melilla. Tasa de variación interanual.'],
      dtype=object)

In [199]:
hotels_revenue = hotels_revenue.loc[hotels_revenue['info'].str.contains('Dato base')]
hotels_revenue['info'].unique()

array(['Indice de ingresos hoteleros (Base 2008). Nacional. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Andalucía. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Aragón. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Asturias (Principado de). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Balears (Illes). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Canarias. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Cantabria. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Castilla y León. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Castilla - La Mancha. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Cataluña. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Comunitat Valenciana. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Extremadura. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Galicia. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Madrid (Comunidad de). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Murcia (Región de). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Navarra (Comunidad Foral de). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). País Vasco. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Rioja (La). Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Ceuta. Dato base.',
       'Indice de ingresos hoteleros (Base 2008). Melilla. Dato base.'],
      dtype=object)

In [200]:
hotels_revenue['tourist_point'] = hotels_revenue['info'].apply(lambda x: x.split('.')[1])
hotels_revenue = hotels_revenue.drop('info', axis=1)
hotels_revenue.head()

        Fecha  Valor tourist_point
0  2009-12-01  95.09      Nacional
1  2009-11-01  94.23      Nacional
2  2009-10-01  94.03      Nacional
3  2009-09-01  94.14      Nacional
4  2009-08-01  95.55      Nacional

In [201]:
hotels_revenue.isna().sum()

Fecha            0
Valor            0
tourist_point    0
dtype: int64

In [202]:
hotels_revenue.reindex(columns = ['tourist_point', 'Valor', 'Fecha'])
hotels_revenue.rename(columns = {'Valor':'valor', 'Fecha':'date'})

            date  valor tourist_point
0     2009-12-01  95.09      Nacional
1     2009-11-01  94.23      Nacional
2     2009-10-01  94.03      Nacional
3     2009-09-01  94.14      Nacional
4     2009-08-01  95.55      Nacional
...          ...    ...           ...
2335  2005-05-01  90.31       Melilla
2336  2005-04-01  89.86       Melilla
2337  2005-03-01  89.58       Melilla
2338  2005-02-01  92.08       Melilla
2339  2005-01-01  89.03       Melilla

[1200 rows x 3 columns]

In [204]:
file_name = 'hotels_revenue.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

hotels_revenue.to_excel(path+file_name)




#### Zoom In: Apartamentos turísticos
- Viajeros y pernoctaciones por puntos turísticos
- Plazas, apartamentos, grados de ocupación y personal empleado por puntos turísticos
- Número de alojamientos turísticos y noches ocupados por residencia del viajero. Puntos turísticos.
- Viviendas turísticas, plazas y plazas por vivienda turística. Total nacional, comunidades autónomas y provincias


- Índice de precios de apartamentos (IPAP): índice general nacional y desglose por modalidades
- Índice de precios de apartamentos (IPAP): índice general nacional y desglose por tarifas


Combinar:
- Viajeros y pernoctaciones por puntos turísticos
- Estancia media por puntos turísticos
- Establecimientos, plazas estimadas, grados de ocupación y personal empleado por puntos turísticas
- Tarifa media diaria (ADR) desglose por puntos turísticas


Combinar:
- Índices de precios hoteleros, índices y tasas de variación interanual por comunidades autónomas